body {
  font-family: var(--primary-font-family);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
}

button {
  cursor: pointer;
}
