.container {
  padding-right: 20px;
  padding-left: 20px;
  @media screen and (min-width: 480px) {
    padding-right: 34px;
    padding-left: 34px;
  }

  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}
