@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

/* Base*/
:root {
  --primary-font-family: DM Sans, sans-serif;
  --secondary-font-family: Titan One, cursive;
}

body {
  font-family: var(--primary-font-family);
  background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* Utils*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/*Layout*/
.header {
  background-color: pink;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.mobile-menu {
  display: none;
}

.burger-btn {
  background-color: transparent;
}

.burger-btn__icon {
  fill: red;
}

.buy-now {
  display: none;
}

.hero {
  position: relative;
  background-color: #ffb8ca;
}

.hero__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 502px;
  margin-top: 137px;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .hero__title-container {
    margin-top: 15px;
  }
}

.hero-container__title {
  width: 218px;
  font-family: 'Titan One';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 767px) {
  .hero-container__title {
    width: 162px;
  }
}

.hero-container__portail1 {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 44px;
  color: #ffffff;
}

.hero-container__pjrtail2 {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 53px;
  letter-spacing: 0.04em;
  color: #d41443;
  margin-bottom: 25px;
}

.hero__title-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__title-button1 {
  width: 104px;
  height: 40px;
  background: #c7133e;
  border-radius: 20px;
  border: none;
  margin-right: 17px;
}

.hero__title-button2 {
  width: 138px;
  height: 40px;
  color: #c7133e;
  background: #ffffff;
  border-radius: 20px;
  border: none;
}

.hero__avd-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-composition {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 78px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .hero-composition {
    display: none;
  }
}

.hero-composition__text {
  font-family: var(--primary-font-family);
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 20px;
}

.hero__circle {
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: #ffa5ba;
  position: absolute;
  top: 80px;
  right: -50px;
}

@media screen and (max-width: 767px) {
  .hero__circle {
    width: 324px;
    height: 322px;
    top: 30px;
  }
}

.company-about-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 100px;
  right: 40px;
  margin-bottom: 18px;
}

@media screen and (max-width: 767px) {
  .company-about-1 {
    display: none;
  }
}

.company-about-1__num {
  font-family: var(--secondary-font-family);
  color: #d41443;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 53px;
  text-align: right;
  position: relative;
}

.company-about-1__text {
  font-family: var(--primary-font-family);
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
}

.company-about-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 155px;
  right: 40px;
}

@media screen and (max-width: 767px) {
  .company-about-2 {
    display: none;
  }
}

.company-about-2__num {
  font-family: var(--secondary-font-family);
  color: #d41443;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 53px;
  text-align: right;
  position: relative;
}

.company-about-2__text {
  font-family: var(--primary-font-family);
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .milk-pic {
    display: none;
  }
}

.company-about-1__circle {
  color: #fff;
}

.ice-cream-pic {
  position: absolute;
  bottom: 0px;
  right: 32px;
}

@media screen and (max-width: 767) {
  .ice-cream-pic {
    right: 24px;
  }
}

.girl-pic {
  position: absolute;
  bottom: 0px;
  right: 40px;
}

@media screen and (max-width: 767px) {
  .girl-pic {
    display: none;
  }
}

.section__subtitle {
  font-family: var(--secondary-font-family);
  text-align: center;
  font-size: 18px;
  color: #ffa5ba;
  line-height: 1.4;
  margin-bottom: 15px;
}

.section__title {
  font-family: var(--secondary-font-family);
  text-align: center;
  font-size: 34px;
  color: #D41443;
  margin-bottom: 30px;
}

.products__item-title {
  font-family: var(--secondary-font-family);
  text-align: center;
  color: #FFFFFF;
  font-size: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  position: relative;
}

.products__item-description {
  margin-bottom: 60px;
  font-family: "Relaway" sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
}

.products__item-inner_pink {
  background-color: #FFB8CA;
}

.products__item-inner_coffee {
  background-color: #F0D1A5;
}

.products__item-inner_green {
  background-color: #C2E297;
}

.products__item-inner {
  padding: 120px 20px 30px 20px;
  border-radius: 10px;
}

.about {
  padding-top: 125px;
  padding-bottom: 39px;
  background-color: #fff5f6;
}

@media screen and (max-width: 767px) {
  .about {
    background-image: url("/images/milk-mb.png");
    background-position: left 0 top 766px;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 480px;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .about {
    background-image: url("/images/milk-mb@2x.png");
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about {
    background-image: none;
  }
}

@media screen and (min-width: 1280px) {
  .about {
    background-image: url("/images/milk-pc.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .about {
    background-image: url("/images/milk-pc@2x.png");
  }
}

.about__label {
  margin-bottom: 15px;
  font-family: var(--secondary-font-family);
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

.about__title {
  margin-bottom: 26px;
  font-family: var(--secondary-font-family);
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.about__decor {
  margin-bottom: 46px;
}

@media screen and (max-width: 767px) {
  .about__decor {
    background-image: url("/images/cow-mb.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    height: 279px;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .about__decor {
    background-image: url("/images/cow-mb@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .about__decor {
    background-image: url("/images/cow-tb.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    height: 339px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .about__decor {
    background-image: url("/images/cow-tb@2x.png");
  }
}

@media screen and (min-width: 1280px) {
  .about__decor {
    background-image: url("/images/cow-pc.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    height: 516px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .about__decor {
    background-image: url("/images/cow-pc@2x.png");
  }
}

.about__wraper {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

.about__list {
  margin-bottom: 20px;
}

.about-list__item:first-child {
  margin-bottom: 30px;
}

.about-list__item:nth-child(2) {
  margin-bottom: 12px;
}

.about-list__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.57;
  color: #907e82;
}

.about-list__text_black {
  color: #000000;
}

.about__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 19px 38px 17px 37px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #d41443;
  background: #ffffff;
  border: none;
  border-radius: 22px;
}

.about__icon {
  width: 4.43px;
  height: 8px;
  margin-left: 13.62px;
}

.advantages {
  background-color: #fff5f6;
  padding-bottom: 79px;
}

.advantages__item {
  max-width: 230px;
  margin-bottom: 38px;
}

.advantages__item:last-child {
  margin: 0;
}

.advantages__item::before {
  display: block;
  content: '';
  height: 66px;
}

.advantages__item:nth-child(1)::before {
  background-image: url(../images/pic1-mb.png);
  background-repeat: no-repeat;
  background-size: 33px;
  background-position: left top;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .advantages__item:nth-child(1)::before {
    background-image: url("../images/pic1-mb@2x.png");
  }
}

.advantages__item:nth-child(1)::before {
  background-image: url("../images/pic1-mb.webp");
  background-repeat: no-repeat;
  background-size: 33px;
  background-position: left top;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .advantages__item:nth-child(1)::before {
    background-image: url("../images/pic1-mb@2x.webp");
  }
}

.advantages__item:nth-child(2)::before {
  background-image: url(../images/pic2-mb.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: left top;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .advantages__item:nth-child(2)::before {
    background-image: url("../images/pic2-mb@2x.png");
  }
}

.advantages__item:nth-child(2)::before {
  background-image: url("../images/pic2-mb.webp");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: left top;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .advantages__item:nth-child(2)::before {
    background-image: url("../images/pic2-mb@2x.webp");
  }
}

.advantages__item:nth-child(3)::before {
  background-image: url(../images/pic3-mb.png);
  background-repeat: no-repeat;
  background-size: 44px;
  background-position: left top;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .advantages__item:nth-child(3)::before {
    background-image: url("../images/pic3-mb@2x.png");
  }
}

.advantages__item:nth-child(3)::before {
  background-image: url("../images/pic3-mb.webp");
  background-repeat: no-repeat;
  background-size: 44px;
  background-position: left top;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .advantages__item:nth-child(3)::before {
    background-image: url("../images/pic3-mb@2x.webp");
  }
}

.advantages__item--title {
  margin-top: 0;
  margin-bottom: 0;
  color: #d41443;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.advantages__text {
  margin-top: 15px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.66;
  color: black;
}

.gallery {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(39%, #fff5f6), color-stop(39%, #ffffff));
  background-image: linear-gradient(to bottom, #fff5f6 39%, #ffffff 39%);
}

.gallery-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-item:nth-child(5) {
  margin-top: 40px;
}

.gallery-item:nth-child(7) {
  margin-bottom: 15px;
}

.gallery-picture {
  border-radius: 15px;
  margin: 4px;
}

@media screen and (min-width: 768px) {
  .gallery-picture {
    border-radius: 25px;
  }
}

.footer {
  background-color: #fff5f6;
  padding-top: 113px;
  padding-bottom: 25px;
}

.footer__title {
  font-family: 'Titan One', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(18 / 21);
  letter-spacing: 0.04em;
  max-width: 232px;
  color: #ffa5ba;
  margin-bottom: 17px;
}

.footer__subtitle {
  font-family: 'Titan One', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 34px;
  line-height: calc(34 / 39);
  letter-spacing: 0.04em;
  max-width: 200px;
  color: #d41443;
  margin-bottom: 43px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 46px;
}

.footer__social--link {
  width: 34px;
  height: 34px;
  border-radius: 50px;
  color: #fea5bb;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social--link:hover, .footer__social--link:focus {
  color: #d41443;
}

.footer__social--icon {
  fill: currentColor;
}

.footer__social--icon:hover, .footer__social--icon:focus {
  fill: currentColor;
}

.footer__social--item:not(:last-child) {
  margin-right: 28.24px;
}

.footer__contact {
  text-align: right;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.83;
  margin-bottom: 43px;
}

.footer__contact--phone {
  color: #d41443;
}

.footer__symbol {
  border-top: 1px solid #e1e1e1;
  padding-top: 22px;
  text-align: center;
}

.footer__symbol--text {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  color: #907e82;
}
/*# sourceMappingURL=main.css.map */