<section class="about" id="about">
  <div class="about__container container">
    <p class="about__label">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__flex">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="./images/cow-pc.webp 1x, ./images/cow-pc@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(min-width: 1280px)"
          srcset="./images/cow-pc.png 1x, ./images/cow-pc@2x.png 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/cow-tb.webp 1x, ./images/cow-tb@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/cow-tb.png 1x, ./images/cow-tb@2x.png 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="./images/cow-mb.webp 1x, ./images/cow-mb@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="./images/cow-mb.png 1x, ./images/cow-mb@2x.png 2x"
        />
        <img src="#" alt="cow and jug of milk" />
      </picture>
      <div class="about__wraper">
        <ul class="about__list">
          <li class="about-list__item">
            <p class="about-list__text about-list__text_black">
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
              faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
            </p>
          </li>
          <li class="about-list__item">
            <p class="about-list__text">
              Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
              orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a
              feugiat urna maximus. Cras massa nibh, tincidunt.
            </p>
          </li>
          <li class="about-list__item">
            <p class="about-list__text">Aliquam erat volutpat. Aenean accumsan.</p>
          </li>
        </ul>
        <button class="about__button" type="button" data-about-modal-open>
          Read more
          <svg class="about__icon">
            <use href="./images/svg/icons.svg#icon-bracket-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>

<div class="about__backdrop is-hidden" data-about-modal>
  <div class="about__modal">
    <button type="button" class="about__modal_close-button" data-about-modal-close>
      <svg width="18px" height="18px">
        <use href="./images/svg/icons.svg#close"></use>
      </svg>
    </button>
    <p class="about__modal_title">how it’s made?</p>
    <p class="about__modal_text">
      IceCream has a simple approach to ice cream: Better Ingredients, Better Flavor, Better Taste.
      Better ingredients, better ice cream, better health. We carefully source all the ingredients
      and make sure nothing questionable goes into our ice cream. That includes artificial flavors,
      colors, highly processed additives, gums, emulsifiers, etc. Better business practices, better
      communities, better health. We are grateful for this opportunity to build a responsible
      business and give back to the community. We see ourselves as more than just an ice cream
      brand, we’re a part of your local community. Not only is this why our scoops are as healthy
      and junk-free as possible, but every single ingredient that goes into our ice cream has been
      carefully sourced and we go out of our way to support responsible and sustainable practices.
      Spread happiness and awareness one scoop at a time. So come in and try some exciting flavors
      today, because this is ice cream. Just as Nature’s intended.
    </p>
    <button type="submit" class="about__modal_button">Buy now</button>
  </div>
</div>
