<section class="advantages">
    <div class="container">
        <h2 class="advantages__title visually-hidden">Advantages</h2>
<ul class="advantages__list">
    <li class="advantages__item">
        <div class="advantages__icon">for icon</div>
        <span class="advantages__item--title">721</span>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item">
        <div class="advantages__icon">for icon</div>
        <span class="advantages__item--title">16kg</span>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item">
        <div class="advantages__icon">for icon</div>
        <span class="advantages__item--title">84</span>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
</ul>
    </div>
</section>