<section class="contacts">

    <div class="container contacts__container">

        <h2 hidden> Contacts</h2>

        <ul class="contacts__list list">

            <li class="contacts__item">
                <h3 class="contacts__title">CAFE</h3>
                <p class="contacts__pre-title">Chicago</p>
                <div class="contacts__text"> Fusce ut velit laoreet, tempus arcu molestie vulputate</div>

                <ul class="contacts__info-working">
                    <li class="contacts__weekdays"> <p class="contacts__day-working">Monday - Friday</p> <p class="contacts__time-working">06:00 AM - 10:00 PM</p></li>
                    <li class="contacts__weekends"> <p class="contacts__day-working">Saturday - Sunday</p> <p class="contacts__time-working">08:00 AM - 16:00 PM</p></li>
                </ul>

                <ul class="contacts__conection">
                    <li><a class="contacts__mail link" href="tel:+610383766284 ">+61(0) 383 766 284 </a></li>
                    <li><a class="contacts__tel link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                </ul>
            </li>
            <li class="contacts__item">
                <h3 class="contacts__second-title">FOOD TRUCK</h3>
                <p class="contacts__pre-title">Los Angeles</p>
                <div class="contacts__text"> Fusce ut velit laoreet, tempus arcu molestie vulputate</div>

                <ul class="contacts__info-working">
                    <li class="contacts__weekdays"> <p class="contacts__day-working">Monday - Friday</p> <p class="contacts__time-working">06:00 AM - 10:00 PM</p></li>
                    <li class="contacts__weekends"> <p class="contacts__day-working">Saturday - Sunday</p> <p class="contacts__time-working">08:00 AM - 16:00 PM</p></li>
                </ul>

                <ul class="contacts__conection">
                    <li><a class="contacts__mail link" href="tel:+610383766284 ">+61(0) 383 766 284 </a></li>
                    <li><a class="contacts__tel link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                </ul>

            </li>
            <li class="contacts__item">
                <h3 class="contacts__title">CAFE</h3>
                <p class="contacts__pre-title">New York</p>
                <div class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</div>

                <ul class="contacts__info-working">
                    <li class="contacts__weekdays"> <p class="contacts__day-working">Monday - Friday</p> <p class="contacts__time-working">06:00 AM - 10:00 PM</p></li>
                    <li class="contacts__weekends"> <p class="contacts__day-working">Saturday - Sunday</p> <p class="contacts__time-working">08:00 AM - 16:00 PM</p></li>
                </ul>

                <ul class="contacts__conection">
                    <li ><a class="contacts__mail link" href="tel:+610383766284 ">+61(0) 383 766 284 </a></li>
                    <li ><a class="contacts__tel link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                </ul>
            </li>
        </ul>
        <ul class="contacts__btn">
            <li><button type="button" class="contacts__location btn">Our Locations <svg class="contacts__location-icon">
                <use href="./images/svg/icons.svg#icon-bracket-right">
                </use>
            </svg> </button></li>
            <li><button type="button" class="contacts__franchise btn">Franchise <svg class="contacts__franchise-icon">
                <use href="./images/svg/icons.svg#icon-bracket-right">
                </use> </svg> </button></li>
        </ul>

    </div>
</section>
