
   <section class="section">
   <div class="container">
       <h2 class="visually-hidden">Customer Reviews</h2>
        <article class="customer-reviews">
            <h3 class="visually-hidden">Customer-reviews-1</h3>
            <picture>
                <img src="#" alt="Photo of a girl 1">
            </picture>
            <p class="customer-reviews__discription">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
                nunc,
                accumsan
                congue. Lorem ipsum primis in nibh vel risus.
            </p>

            <p class="customer-reviews__sign">Emily, Los Angeles</p>

        </article>

        <article class="customer-reviews">
            <h3 class="visually-hidden">Customer-reviews-2</h3>
            <picture>
                <img src="#" alt="Photo of a girl 2">
            </picture>
            <p class="customer-reviews__discription">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
                nunc,
                accumsan
                congue. Lorem ipsum primis in nibh vel risus.
            </p>

            <p class="customer-reviews__sign">Mary, New York</p>

        </article>

        <article class="customer-reviews">
            <h3 class="visually-hidden">Customer-reviews-3</h3>
            <picture>
                <img src="#" alt="Photo of a girl 3">
            </picture>
            <p class="customer-reviews__discription">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
                nunc,
                accumsan
                congue. Lorem ipsum primis in nibh vel risus.
            </p>

            <p class="customer-reviews__sign">Kelly, Washington</p>

        </article>
    </div>
</section>
    

