
   <section class="section section__reviews ">
        <div class="container slider">
        <h2 class="visually-hidden">Customer Reviews</h2> 
        <div class="slider__item">
            <article class="customer-reviews">
                    <h3 class="visually-hidden">Customer-reviews-1</h3>
                <picture>
                        <img src="images/person1.png" alt="Photo of a girl 1" width="85"class="customer-photo">
                    </picture>           
                    <div class="customer-reviews__wrapper">
                        <p class="customer-reviews__discription">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
                            nunc,
                            accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <div class="customer-sign__wrapper">
                        <p class="customer-reviews__sign">Emily, Los Angeles</p>
                    </div>
                </article>
         </div>
        <div class="slider__item">
            <article class="customer-reviews">
                <h3 class="visually-hidden">Customer-reviews-2</h3>
                <picture>
                    <img src="images/person2.png" alt="Photo of a girl 2" width="85" class="customer-photo">
                </picture>
                <div class="customer-reviews__wrapper">
                    <p class="customer-reviews__discription">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
                        nunc,
                        accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <div class="customer-sign__wrapper">
                    <p class="customer-reviews__sign">Kelly, Los Angeles</p>
                </div>
            </article>
        </div>
        <div class="slider__item">
                <article class="customer-reviews">
                    <h3 class="visually-hidden">Customer-reviews-3</h3>
                    <picture>
           
                        <img src="images/person3.png" alt="Photo of a girl 3" width="85" class="customer-photo">
                    </picture>
                    <div class="customer-reviews__wrapper">
                        <p class="customer-reviews__discription">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
                            nunc,
                            accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <div class="customer-sign__wrapper">
                        <p class="customer-reviews__sign">Mary, Los Angeles</p>
                    </div>
                </article>
         </div>
   </div>
</section>
    

