<section class="section section__reviews" id="customers">
    <div class="container container__customer">
        <h2 class="visually-hidden">Customer Reviews</h2>
        <div class="slider">
            
                <article class="customer-reviews">
                    <h3 class="visually-hidden">Customer-reviews-1</h3>
                    <picture>

                        <source srcset="../src/images/team-photo/andrey-desc.webp 1x, ../src/images/team-photo/andrey-desc@2x.webp 2x" type="image/webp"
                            media="(min-width: 1280px)" />
                        <source srcset="../src/images/team-photo/andrey-desc.jpg 1x, ../src/images/team-photo/andrey-desc@2x.jpg 2x" type="image/jpeg"
                            media="(min-width: 1280px)" />
                        
                        <source srcset="../src/images/team-photo/andrey-tabl.webp 1x, ../src/images/team-photo/andrey-tabl@2x.webp 2x" type="image/webp"
                                media="(min-width: 768px)" />
                        <source srcset="../src/images/team-photo/andrey-tabl.jpg 1x, ../src/images/team-photo/andrey-tabl@2x.jpg 2x" type="image/jpeg"
                                media="(min-width: 768px)" />

                        <source srcset="../src/images/team-photo/andrey.webp 1x, ../src/images/team-photo/andrey@2x.webp 2x"
                            type="image/webp" media="(max-width: 767px)" />
                        <source srcset="../src/images/team-photo/andrey.jpg 1x, ../src/images/team-photo/andrey@2x.jpg 2x" type="image/jpeg"
                            media="(max-width: 767px)" />

                        <img src="#" alt="Andrey" width="85" class="customer-photo">
                    </picture>

                    <div class="customer-reviews__wrapper">
                        <p class="customer-reviews__discription" lang="ru">
                          
                            Мы смогли реализовать этот проект в тёплой дружественной обстановке, что повлияло позитивно на сам рабочий
                            процесс. Каждый из команды «9 вёрст» показал свои профессиональные навыки на высшем уровне.
                        </p>
                    </div>
                    <div class="marks"></div>
                    
                        <p class="customer-reviews__sign">Andrey, Kiev</p>
                    
                  
                </article>
            <article class="customer-reviews">
                <h3 class="visually-hidden">Customer-reviews-2</h3>
                <picture>
            
                    <source srcset="../src/images/team-photo/zhenya-desc.webp 1x, ../src/images/team-photo/zhenya-desc@2x.webp 2x"
                        type="image/webp" media="(min-width: 1280px)" />
                    <source srcset="../src/images/team-photo/zhenya-desc.jpg 1x, ../src/images/team-photo/zhenya-desc@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 1280px)" />
            
                    <source srcset="../src/images/team-photo/zhenya-tabl.webp 1x, ../src/images/team-photo/zhenya-tabl@2x.webp 2x"
                        type="image/webp" media="(min-width: 768px)" />
                    <source srcset="../src/images/team-photo/zhenya-tabl.jpg 1x, ../src/images/team-photo/zhenya-tabl@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 768px)" />
            
                    <source srcset="../src/images/team-photo/zhenya.webp 1x, ../src/images/team-photo/zhenya@2x.webp 2x"
                        type="image/webp" media="(max-width: 767px)" />
                    <source srcset="../src/images/team-photo/zhenya.jpg 1x, ../src/images/team-photo/zhenya@2x.jpg 2x"
                        type="image/jpeg" media="(max-width: 767px)" />
            
                    <img src="#" alt="Zhenya" width="85" class="customer-photo">
                </picture>
            
                <div class="customer-reviews__wrapper">
                    <p class="customer-reviews__discription" lang="ru">
                        Первый опыт работы в команде самый запоминающийся. Увеличивается чувство ответственности. Здесь нет единоличного
                        принятия решений, все решаем вместе и сообща и это действительно было круто, почувствовать себя в команде.
                    </p>
                </div>
                <div class="marks"></div>
               
                    <p class="customer-reviews__sign">Evgeniy, Zaporizhia</p>
               
            
            </article>
            <article class="customer-reviews">
                <h3 class="visually-hidden">Customer-reviews-3</h3>
                <picture>
            
                    <source srcset="../src/images/team-photo/vadim-desc.webp 1x, ../src/images/team-photo/vadim-desc@2x.webp 2x"
                        type="image/webp" media="(min-width: 1280px)" />
                    <source srcset="../src/images/team-photo/vadim-desc.jpg 1x, ../src/images/team-photo/vadim-desc@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 1280px)" />
            
                    <source srcset="../src/images/team-photo/vadim-tabl.webp 1x, ../src/images/team-photo/vadim-tabl@2x.webp 2x"
                        type="image/webp" media="(min-width: 768px)" />
                    <source srcset="../src/images/team-photo/vadim-tabl.jpg 1x, ../src/images/team-photo/vadim-tabl@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 768px)" />
            
                    <source srcset="../src/images/team-photo/vadim.webp 1x, ../src/images/team-photo/vadim@2x.webp 2x"
                        type="image/webp" media="(max-width: 767px)" />
                    <source srcset="../src/images/team-photo/vadim.jpg 1x, ../src/images/team-photo/vadim@2x.jpg 2x"
                        type="image/jpeg" media="(max-width: 767px)" />
            
                    <img src="#" alt="Andrey" width="85" class="customer-photo">
                </picture>
            
                <div class="customer-reviews__wrapper">
                    <p class="customer-reviews__discription" lang="ru">
                        Работая в нашей команде,
                        я ощутил на себе как готовы коллеги идти на помощь в сложных ситуациях.
                        Учитывая плотный рабочий график, и частое отсутсвие, командная поддержка помогала мне оставаться в строю.
                </div>
                <div class="marks"></div>
             
                    <p class="customer-reviews__sign">Vadim, Kiev</p>
                        
            </article>
            <article class="customer-reviews">
                <h3 class="visually-hidden">Customer-reviews-4</h3>
                <picture>
            
                    <source srcset="../src/images/team-photo/julya-desc.webp 1x, ../src/images/team-photo/julya-desc@2x.webp 2x"
                        type="image/webp" media="(min-width: 1280px)" />
                    <source srcset="../src/images/team-photo/julya-desc.jpg 1x, ../src/images/team-photo/julya-desc@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 1280px)" />
            
                    <source srcset="../src/images/team-photo/julya-tabl.webp 1x, ../src/images/team-photo/julya-tabl@2x.webp 2x"
                        type="image/webp" media="(min-width: 768px)" />
                    <source srcset="../src/images/team-photo/julya-tabl.jpg 1x, ../src/images/team-photo/julya-tabl@2x.jpg 2x"
                        type="image/jpeg" media="(min-width: 768px)" />
            
                    <source srcset="../src/images/team-photo/julya.webp 1x, ../src/images/team-photo/julya@2x.webp 2x"
                        type="image/webp" media="(max-width: 767px)" />
                    <source srcset="../src/images/team-photo/julya.jpg 1x, ../src/images/team-photo/julya@2x.jpg 2x"
                        type="image/jpeg" media="(max-width: 767px)" />
            
                    <img src="#" alt="Julya" width="85" class="customer-photo">
                </picture>
            
                <div class="customer-reviews__wrapper">
                    <p class="customer-reviews__discription" lang="uk">
                        Дуже сподобалось працювати над проектом в нашій команді, адже всі складнощі вирішуються легко і швидко коли дружня
                        команда на зв'язку 24/7.
                    </p>
                </div>
                <div class="marks"></div>
              
                    <p class="customer-reviews__sign">Yuliia, Kiev</p>
              
            
            </article>
             <article class="customer-reviews">
                    <h3 class="visually-hidden">Customer-reviews-5</h3>
                    <picture>

                        <source srcset="../src/images/team-photo/dima-desc.webp 1x, ../src/images/team-photo/dima-desc@2x.webp 2x" type="image/webp"
                            media="(min-width: 1280px)" />
                        <source srcset="../src/images/team-photo/dima-desc.jpg 1x, ../src/images/team-photo/dima-desc@2x.jpg 2x" type="image/jpeg"
                            media="(min-width: 1280px)" />
                        
                        <source srcset="../src/images/team-photo/dima-tabl.webp 1x, ../src/images/team-photo/dima-tabl@2x.webp 2x" type="image/webp"
                                media="(min-width: 768px)" />
                        <source srcset="../src/images/team-photo/dima-tabl.jpg 1x, ../src/images/team-photo/dima-tabl@2x.jpg 2x" type="image/jpeg"
                                media="(min-width: 768px)" />

                        <source srcset="../src/images/team-photo/dima.webp 1x, ../src/images/team-photo/dima@2x.webp 2x"
                            type="image/webp" media="(max-width: 767px)" />
                        <source srcset="../src/images/team-photo/dima.jpg 1x, ../src/images/team-photo/dima@2x.jpg 2x" type="image/jpeg"
                            media="(max-width: 767px)" />

                        <img src="#" alt="Dima" width="85" class="customer-photo">
                    </picture>

                    <div class="customer-reviews__wrapper">
                        <p class="customer-reviews__discription" lang="ru">
                            Работа в команде понравилась тем, что при обсуждении выполнения секций,
                            слушая мнения других, узнаешь новые способы реализации, и, заодно, пытаешься помочь коллеге.
                        </p>
                    </div>
                    <div class="marks"></div>
                    
                        <p class="customer-reviews__sign">Dmitriy, Slavutych</p>
                   
                  
                </article>
                <article class="customer-reviews">
                    <h3 class="visually-hidden">Customer-reviews-6</h3>
                    <picture>
                        <source
                            srcset="../src/images/team-photo/vlad-desc.webp 1x, ../src/images/team-photo/vlad-desc@2x.webp 2x"
                            type="image/webp" media="(min-width: 1280px)" />
                        <source srcset="../src/images/team-photo/vlad-desc.jpg 1x, ../src/images/team-photo/vlad-desc@2x.jpg 2x"
                            media="(min-width: 1280px)" />
                
                        <source
                            srcset="../src/images/team-photo/vlad-tabl.webp 1x, ../src/images/team-photo/vlad-tabl@2x.webp 2x"
                            type="image/webp" media="(min-width: 768px)" />
                        <source srcset="../src/images/team-photo/vlad-tabl.jpg 1x, ../src/images/team-photo/vlad-tabl@2x.jpg 2x"
                            media="(min-width: 768px)" />
                
                        <source srcset="../src/images/team-photo/vlad.webp 1x, ../src/images/team-photo/vlad@2x.webp 2x"
                            type="image/webp" media="(max-width: 767px)" />
                        <source srcset="../src/images/team-photo/vlad.jpg 1x, ../src/images/team-photo/vlad@2x.jpg 2x"
                            media="(max-width: 767px)" />
                
                        <img src="#" alt="Vlad" width="85" class="customer-photo">
                    </picture>
                    <div class="customer-reviews__wrapper">
                        <p class="customer-reviews__discription" lang="ru">
                        Проект погружает в будни разработчика. Было сложно быстро находить решение задач в сжатые сроки. Работа в команде - это
                        интересный и приятный опыт.
                        </p>
                    </div>
                    <div class="marks"></div>
                   
                        <p class="customer-reviews__sign">Vlad, Kiev</p>
                   
                </article>
            <article class="customer-reviews">
                <h3 class="visually-hidden">Customer-reviews-7</h3>
                <picture>
                    <source
                        srcset="../src/images/team-photo/masha-desc.webp 1x, ../src/images/team-photo/masha-desc@2x.webp 2x"
                        type="image/webp" media="(min-width: 1280px)" />
                    <source srcset="../src/images/team-photo/masha-desc.jpg 1x, ../src/images/team-photo/masha-desc@2x.jpg 2x"
                        media="(min-width: 1280px)" />
            
                    <source
                        srcset="../src/images/team-photo/masha-tabl.webp 1x, ../src/images/team-photo/masha-tabl@2x.webp 2x"
                        type="image/webp" media="(min-width: 768px)" />
                    <source srcset="../src/images/team-photo/masha-tabl.jpg 1x, ../src/images/team-photo/masha-tabl@2x.jpg 2x"
                        media="(min-width: 768px)" />
            
                    <source srcset="../src/images/team-photo/masha.webp 1x, ../src/images/team-photo/masha@2x.webp 2x"
                        type="image/webp" media="(max-width: 767px)" />
                    <source srcset="../src/images/team-photo/masha.jpg 1x, ../src/images/team-photo/masha@2x.jpg 2x"
                        media="(max-width: 767px)" />
            
                    <img src="#" alt="Masha" width="85" class="customer-photo">
                </picture>
                <div class="customer-reviews__wrapper">
                    <p class="customer-reviews__discription" lang="ru">
                        Было очень приятно поработать в крутой команде и получить новый интересный и полезный опыт. Благодаря проэкту мы научились быть частью целого и работать по максимуму для достижения общего результата.
                    </p>
                </div>
                <div class="marks"></div>
                
                    <p class="customer-reviews__sign">Mariia, Kiev</p>
               
            </article>
                <article class="customer-reviews">
                    <h3 class="visually-hidden">Customer-reviews-8</h3>
                    <picture>
                        <source srcset="../src/images/team-photo/valeriya-desc.webp 1x, ../src/images/team-photo/valeriya-desc@2x.webp 2x"
                            type="image/webp" media="(min-width: 1280px)" />
                        <source srcset="../src/images/team-photo/valeriya-desc.jpg 1x, ../src/images/team-photo/valeriya-desc@2x.jpg 2x"
                             media="(min-width: 1280px)" />
                        
                        <source srcset="../src/images/team-photo/valeriya-tabl.webp 1x, ../src/images/team-photo/valeriya-tabl@2x.webp 2x"
                            type="image/webp" media="(min-width: 768px)" />
                        <source srcset="../src/images/team-photo/valeriya-tabl.jpg 1x, ../src/images/team-photo/valeriya-tabl@2x.jpg 2x"
                             media="(min-width: 768px)" />
                        
                        <source srcset="../src/images/team-photo/valeriya.webp 1x, ../src/images/team-photo/valeriya@2x.webp 2x" type="image/webp"
                            media="(max-width: 767px)" />
                        <source srcset="../src/images/team-photo/valeriya.jpg 1x, ../src/images/team-photo/valeriya@2x.jpg 2x"
                            media="(max-width: 767px)" />

                        <img src="#" alt="Valeriya" width="85" class="customer-photo">
                    </picture>
                    <div class="customer-reviews__wrapper">
                        <p class="customer-reviews__discription" lang="uk">
                            Робота в команді в такому форматі була для мене першим досвідом і дуже цінним. По завершенню її ти можеш зробити висновки, визнати помилки і працювати над собою далі. Ти розумієш, що кінцевий результат залежить не від тебе, а від роботи команди вцілому.
                        </p>
                    </div>
                    <div class="marks"></div>
                    
                        <p class="customer-reviews__sign">Valeriya, Kiev</p>
                                   
                </article>
                  
                <article class="customer-reviews">
                    <h3 class="visually-hidden">Customer-reviews-9</h3>
                    <picture>
                <source srcset="../src/images/team-photo/mila-desc.webp 1x, ../src/images/team-photo/mila-desc@2x.webp 2x"
                    type="image/webp" media="(min-width: 1280px)" />
                <source srcset="../src/images/team-photo/mila-desc.jpg 1x, ../src/images/team-photo/mila-desc@2x.jpg 2x"
                    media="(min-width: 1280px)" />
                        <source srcset="../src/images/team-photo/mila-tabl.webp 1x, ../src/images/team-photo/mila-tabl@2x.webp 2x"
                            type="image/webp" media="(min-width: 768px)" />
                        <source srcset="../src/images/team-photo/mila-tabl.jpg 1x, ../src/images/team-photo/mila-tabl@2x.jpg 2x"
                            media="(min-width: 768px)" />
                        
                        <source srcset="../src/images/team-photo/mila.webp 1x, ../src/images/team-photo/mila@2x.webp 2x" type="image/webp"
                            media="(max-width: 767px)" />
                        <source srcset="../src/images/team-photo/mila.jpg 1x, ../src/images/team-photo/mila@2x.jpg 2x" type="image/jpeg"
                            media="(max-width: 767px)" />
                        <img src="#" alt="Mila" width="85" class="customer-photo">
                    </picture>
                    <div class="customer-reviews__wrapper">
                        <p class="customer-reviews__discription" lang="ru">
                            В этом проекте была scrum master. Помогать, мотивировать, объяснять, развлекать, напоминать и благодарить - этому
                            научилась благодаря команде.
                        </p>
                    </div>
                    <div class="marks"></div>
                    
                        <p class="customer-reviews__sign">Mila, Kiev</p>
                               
                </article>          
        </div>
    </div>
</section>