
    <section class="gallery" id="gallery">
        <div class="gallery-box container">
        <h2 class="visually-hidden">Галерея</h2>
        <div class="gallery-item">
            <div class="gallery-item-top">
                <picture>
                    <source srcset="../src/images/2gallery1-mb.webp 1x, ../src/images/2gallery1-mb2x.webp 2x" type="image/webp"
                        media="(max-width: 320px)" />
                    <source srcset="../src/images/2gallery1-mb.jpg 1x, ../src/images/2gallery1-mb2x.jpg 2x" type="image/jpeg"
                        media="(max-width: 320px)" />
                    <source srcset="../src/images/2gallery1-tb.webp 1x, ../src/images/2gallery1-tb2x.webp 2x" type="image/webp"
                        media="(max-width: 767px)" />
                    <source srcset="../src/images/2gallery1-tb.jpg 1x, ../src/images/2gallery1-tb2x.jpg 2x" type="image/jpeg"
                        media="(max-width: 767px)" />
                    <source srcset="../src/images/2gallery1-pc.webp 1x, ../src/images/2gallery1-pc2x.webp 2x" type="image/webp"
                        media="(min-width: 768px)" />
                    <source srcset="../src/images/2gallery1-pc.jpg 1x, ../src/images/2gallery1-pc2x.jpg 2x" type="image/jpeg"
                        media="(min-width: 768px)" />
                <img src="../src/images/2gallery1-mb.jpg" alt="Мороженое на тарелке" class="gallery-picture-top" />
                </picture>
            <picture>
                <source srcset="../src/images/gallery1-mb.webp 1x, ../src/images/gallery1-mb2x.webp 2x" type="image/webp"
                    media="(max-width: 320px)" />
                <source srcset="../src/images/gallery1-mb.jpg 1x, ../src/images/gallery1-mb2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 320px)" />
                <source srcset="../src/images/gallery1-tb.webp 1x, ../src/images/gallery1-tb2x.webp 2x" type="image/webp"
                    media="(max-width: 767px)" />
                <source srcset="../src/images/gallery1-tb.jpg 1x, ../src/images/gallery1-tb2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 767px)" />
                <source srcset="../src/images/gallery1-pc.webp 1x, ../src/images/gallery1-pc2x.webp 2x" type="image/webp"
                    media="(min-width: 768px)" />
                <source srcset="../src/images/gallery1-pc.jpg 1x, ../src/images/gallery1-pc2x.jpg 2x" type="image/jpeg"
                    media="(min-width: 768px)" />
    
                <img src="../src/images/gallery1-mb.jpg" alt="Мороженное в чашке" class="gallery-picture" />
            </picture>
            </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-item-top">
                    <picture>
                        <source srcset="../src/images/2gallery3-mb.webp 1x, ../src/images/2gallery3-mb2x.webp 2x" type="image/webp"
                            media="(max-width: 320px)" />
                        <source srcset="../src/images/2gallery3-mb.jpg 1x, ../src/images/2gallery3-mb2x.jpg 2x" type="image/jpeg"
                            media="(max-width: 320px)" />
                        <source srcset="../src/images/2gallery3-tb.webp 1x, ../src/images/2gallery3-tb2x.webp 2x" type="image/webp"
                            media="(max-width: 767px)" />
                        <source srcset="../src/images/2gallery3-tb.jpg 1x, ../src/images/2gallery3-tb2x.jpg 2x" type="image/jpeg"
                            media="(max-width: 767px)" />
                        <source srcset="../src/images/2gallery3-pc.webp 1x, ../src/images/2gallery3-pc2x.webp 2x" type="image/webp"
                            media="(min-width: 768px)" />
                        <source srcset="../src/images/2gallery3-pc.jpg 1x, ../src/images/2gallery3-pc2x.jpg 2x" type="image/jpeg"
                            media="(min-width: 768px)" />
                    <img src="../src/images/2gallery3-pc.jpg" alt="Мороженное рожок" class="gallery-picture-top" />
                    </picture>
            <picture>
                <source srcset="../src/images/gallery3-mb.webp 1x, ../src/images/gallery3-mb2x.webp 2x" type="image/webp"
                    media="(max-width: 320px)" />
                <source srcset="../src/images/gallery3-mb.jpg 1x, ../src/images/gallery3-mb2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 320px)" />
                <source srcset="../src/images/gallery3-tb.webp 1x, ../src/images/gallery3-tb2x.webp 2x" type="image/webp"
                    media="(max-width: 767px)" />
                <source srcset="../src/images/gallery3-tb.jpg 1x, ../src/images/gallery3-tb2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 767px)" />
                <source srcset="../src/images/gallery3-pc.webp 1x, ../src/images/gallery3-pc2x.webp 2x" type="image/webp"
                    media="(min-width: 768px)" />
                <source srcset="../src/images/gallery3-pc.jpg 1x, ../src/images/gallery3-pc2x.jpg 2x" type="image/jpeg"
                    media="(min-width: 768px)" />
    
                <img src="../src/images/gallery3-mb.jpg" alt="Мороженное рожок" class="gallery-picture"/>
                
            </picture>
            </div>
            <div class="gallery-item-bottom">
                <picture>
                    <source srcset="../src/images/2gallery2-mb.webp 1x, ../src/images/2gallery2-mb2x.webp 2x" type="image/webp"
                        media="(max-width: 320px)" />
                    <source srcset="../src/images/2gallery2-mb.jpg 1x, ../src/images/2gallery2-mb2x.jpg 2x" type="image/jpeg"
                        media="(max-width: 320px)" />
                    <source srcset="../src/images/2gallery2-tb.webp 1x, ../src/images/2gallery2-tb2x.webp 2x" type="image/webp"
                        media="(max-width: 767px)" />
                    <source srcset="../src/images/gallery2-tb.jpg 1x, ../src/images/gallery2-tb2x.jpg 2x" type="image/jpeg"
                        media="(max-width: 767px)" />
                    <source srcset="../src/images/2gallery2-pc.webp 1x, ../src/images/2gallery2-pc2x.webp 2x" type="image/webp"
                        media="(min-width: 768px)" />
                    <source srcset="../src/images/2gallery2-pc.jpg 1x, ../src/images/2gallery2-pc2x.jpg 2x" type="image/jpeg"
                        media="(min-width: 768px)" />
                <img src="../src/images/2gallery2-pc.jpg" alt="Лед на палочке" class="gallery-picture-bottom" />
                </picture>
            <picture>
                <source srcset="../src/images/gallery2-mb.webp 1x, ../src/images/gallery2-mb2x.webp 2x" type="image/webp"
                    media="(max-width: 320px)" />
                <source srcset="../src/images/gallery2-mb.jpg 1x, ../src/images/gallery2-mb2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 320px)" />
                <source srcset="../src/images/gallery2-tb.webp 1x, ../src/images/gallery2-tb2x.webp 2x" type="image/webp"
                    media="(max-width: 767px)" />
                <source srcset="../src/images/gallery2-tb.jpg 1x, ../src/images/gallery2-tb2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 767px)" />
                <source srcset="../src/images/gallery2-pc.webp 1x, ../src/images/gallery2-pc2x.webp 2x" type="image/webp"
                    media="(min-width: 768px)" />
                <source srcset="../src/images/gallery2-pc.jpg 1x, ../src/images/gallery2-pc2x.jpg 2x" type="image/jpeg"
                    media="(min-width: 768px)" />
    
                <img src="../src/images/gallery2-mb.jpg" alt="Лед на палочке" class="gallery-picture"/>
            </picture>
            </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-item-top">
                    <picture>
                        <source srcset="../src/images/2gallery10-mb.webp 1x, ../src/images/2gallery10-mb2x.webp 2x" type="image/webp"
                            media="(max-width: 320px)" />
                        <source srcset="../src/images/2gallery10-mb.jpg 1x, ../src/images/2gallery10-mb2x.jpg 2x" type="image/jpeg"
                            media="(max-width: 320px)" />
                        <source srcset="../src/images/2gallery10-tb.webp 1x, ../src/images/2gallery10-tb2x.webp 2x" type="image/webp"
                            media="(max-width: 767px)" />
                        <source srcset="../src/images/2gallery10-tb.jpg 1x, ../src/images/2gallery10-tb2x.jpg 2x" type="image/jpeg"
                            media="(max-width: 767px)" />
                        <source srcset="../src/images/2gallery10-pc.webp 1x, ../src/images/2gallery10-pc2x.webp 2x" type="image/webp"
                            media="(min-width: 768px)" />
                        <source srcset="../src/images/2gallery10-pc.jpg 1x, ../src/images/2gallery10-pc2x.jpg 2x" type="image/jpeg"
                            media="(min-width: 768px)" />
                    <img src="../src/images/2gallery10-pc.jpg" alt="Десерт с фруктами" class="gallery-picture-top" />
                    </picture>
            <picture>
                <source srcset="../src/images/gallery10-mb.webp 1x, ../src/images/gallery10-mb2x.webp 2x" type="image/webp"
                    media="(max-width: 320px)" />
                <source srcset="../src/images/gallery10-mb.jpg 1x, ../src/images/gallery10-mb2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 320px)" />
                <source srcset="../src/images/gallery10-tb.webp 1x, ../src/images/gallery10-tb2x.webp 2x" type="image/webp"
                    media="(max-width: 767px)" />
                <source srcset="../src/images/gallery10-tb.jpg 1x, ../src/images/gallery10-tb2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 767px)" />
                <source srcset="../src/images/gallery10-pc.webp 1x, ../src/images/gallery10-pc2x.webp 2x" type="image/webp"
                    media="(min-width: 768px)" />
                <source srcset="../src/images/gallery10-pc.jpg 1x, ../src/images/gallery10-pc2x.jpg 2x" type="image/jpeg"
                    media="(min-width: 768px)" />
    
                <img src="../src/images/gallery10-mb.jpg" alt="Множество рожков" class="gallery-picture"/>
            </picture>
            </div>
            <div class="gallery-item-bottom">
                <picture>
                    <source srcset="../src/images/2gallery4-mb.webp 1x, ../src/images/2gallery4-mb2x.webp 2x" type="image/webp"
                        media="(max-width: 320px)" />
                    <source srcset="../src/images/2gallery4-mb.jpg 1x, ../src/images/2gallery4-mb2x.jpg 2x" type="image/jpeg"
                        media="(max-width: 320px)" />
                    <source srcset="../src/images/2gallery4-tb.webp 1x, ../src/images/2gallery4-tb2x.webp 2x" type="image/webp"
                        media="(max-width: 767px)" />
                    <source srcset="../src/images/2gallery4-tb.jpg 1x, ../src/images/2gallery4-tb2x.jpg 2x" type="image/jpeg"
                        media="(max-width: 767px)" />
                    <source srcset="../src/images/2gallery4-pc.webp 1x, ../src/images/2gallery4-pc2x.webp 2x" type="image/webp"
                        media="(min-width: 768px)" />
                    <source srcset="../src/images/2gallery4-pc.jpg 1x, ../src/images/2gallery4-pc2x.jpg 2x" type="image/jpeg"
                        media="(min-width: 768px)" />
                <img src="../src/images/2gallery4-pc.jpg" alt="Девушка с мороженным" class="gallery-picture-girl-bottom" />
                </picture>

            <picture>
                <source srcset="../src/images/gallery4-mb.webp 1x, ../src/images/gallery4-mb2x.webp 2x" type="image/webp"
                    media="(max-width: 320px)" />
                <source srcset="../src/images/gallery4-mb.jpg 1x, ../src/images/gallery4-mb2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 320px)" />
                <source srcset="../src/images/gallery4-tb.webp 1x, ../src/images/gallery4-tb2x.webp 2x" type="image/webp"
                    media="(max-width: 767px)" />
                <source srcset="../src/images/gallery4-tb.jpg 1x, ../src/images/gallery4-tb2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 767px)" />
                <source srcset="../src/images/gallery4-pc.webp 1x, ../src/images/gallery4-pc2x.webp 2x" type="image/webp"
                    media="(min-width: 768px)" />
                <source srcset="../src/images/gallery4-pc.jpg 1x, ../src/images/gallery4-pc2x.jpg 2x" type="image/jpeg"
                    media="(min-width: 768px)" />
    
                <img src="../src/images/gallery4-mb.jpg" alt="Девушка с мороженным" class="gallery-picture-girl"/>
            </picture>
            </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-item-top">
                    <picture>
                        <source srcset="../src/images/2gallery6-mb.webp 1x, ../src/images/2gallery6-mb2x.webp 2x" type="image/webp"
                            media="(max-width: 320px)" />
                        <source srcset="../src/images/2gallery6-mb.jpg 1x, ../src/images/2gallery6-mb2x.jpg 2x" type="image/jpeg"
                            media="(max-width: 320px)" />
                        <source srcset="../src/images/2gallery6-tb.webp 1x, ../src/images/2gallery6-tb2x.webp 2x" type="image/webp"
                            media="(max-width: 767px)" />
                        <source srcset="../src/images/2gallery6-tb.jpg 1x, ../src/images/2gallery6-tb2x.jpg 2x" type="image/jpeg"
                            media="(max-width: 767px)" />
                        <source srcset="../src/images/2gallery6-pc.webp 1x, ../src/images/2gallery6-pc2x.webp 2x" type="image/webp"
                            media="(min-width: 768px)" />
                        <source srcset="../src/images/2gallery6-pc.jpg 1x, ../src/images/2gallery6-pc2x.jpg 2x" type="image/jpeg"
                            media="(min-width: 768px)" />
                    <img src="../src/images/2gallery6-pc.jpg" alt="Десерт с фруктами" class="gallery-picture-top" />
                    </picture>
            <picture>
                <source srcset="../src/images/gallery6-mb.webp 1x, ../src/images/gallery6-mb2x.webp 2x" type="image/webp"
                    media="(max-width: 320px)" />
                <source srcset="../src/images/gallery6-mb.jpg 1x, ../src/images/gallery6-mb2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 320px)" />
                <source srcset="../src/images/gallery6-tb.webp 1x, ../src/images/gallery6-tb2x.webp 2x" type="image/webp"
                    media="(max-width: 767px)" />
                <source srcset="../src/images/gallery6-tb.jpg 1x, ../src/images/gallery6-tb2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 767px)" />
                <source srcset="../src/images/gallery6-pc.webp 1x, ../src/images/gallery6-pc2x.webp 2x" type="image/webp"
                    media="(min-width: 768px)" />
                <source srcset="../src/images/gallery6-pc.jpg 1x, ../src/images/gallery6-pc2x.jpg 2x" type="image/jpeg"
                    media="(min-width: 768px)" />
    
                <img src="../src/images/gallery6-mb.jpg" alt="Десерт с фруктами" class="gallery-picture"/>
            </picture>
            </div>
            <div class="gallery-item-bottom">
                <picture>
                    <source srcset="../src/images/2gallery5-mb.webp 1x, ../src/images/2gallery5-mb2x.webp 2x" type="image/webp"
                        media="(max-width: 320px)" />
                    <source srcset="../src/images/2gallery5-mb.jpg 1x, ../src/images/2gallery5-mb2x.jpg 2x" type="image/jpeg"
                        media="(max-width: 320px)" />
                    <source srcset="../src/images/2gallery5-tb.webp 1x, ../src/images/2gallery5-tb2x.webp 2x" type="image/webp"
                        media="(max-width: 767px)" />
                    <source srcset="../src/images/2gallery5-tb.jpg 1x, ../src/images/2gallery5-tb2x.jpg 2x" type="image/jpeg"
                        media="(max-width: 767px)" />
                    <source srcset="../src/images/2gallery5-pc.webp 1x, ../src/images/2gallery5-pc2x.webp 2x" type="image/webp"
                        media="(min-width: 768px)" />
                    <source srcset="../src/images/2gallery5-pc.jpg 1x, ../src/images/2gallery5-pc2x.jpg 2x" type="image/jpeg"
                        media="(min-width: 768px)" />
                <img src="../src/images/2gallery5-pc.jpg" alt="Мороженное рожок на фоне города" class="gallery-picture-bottom" />
                </picture>

            <picture>
                <source srcset="../src/images/gallery5-mb.webp 1x, ../src/images/gallery5-mb2x.webp 2x" type="image/webp"
                    media="(max-width: 320px)" />
                <source srcset="../src/images/gallery5-mb.jpg 1x, ../src/images/gallery5-mb2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 320px)" />
                <source srcset="../src/images/gallery5-tb.webp 1x, ../src/images/gallery5-tb2x.webp 2x" type="image/webp"
                    media="(max-width: 767px)" />
                <source srcset="../src/images/gallery5-tb.jpg 1x, ../src/images/gallery5-tb2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 767px)" />
                <source srcset="../src/images/gallery5-pc.webp 1x, ../src/images/gallery5-pc2x.webp 2x" type="image/webp"
                    media="(min-width: 768px)" />
                <source srcset="../src/images/gallery5-pc.jpg 1x, ../src/images/gallery5-pc2x.jpg 2x" type="image/jpeg"
                    media="(min-width: 768px)" />
    
                <img src="../src/images/gallery5-mb.jpg" alt="Мороженное рожок на фоне города" class="gallery-picture"/>
            </picture>
            </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-item-top">
                    <picture>
                        <source srcset="../src/images/2gallery7-mb.webp 1x, ../src/images/2gallery7-mb2x.webp 2x" type="image/webp"
                            media="(max-width: 320px)" />
                        <source srcset="../src/images/2gallery7-mb.jpg 1x, ../src/images/2gallery7-mb2x.jpg 2x" type="image/jpeg"
                            media="(max-width: 320px)" />
                        <source srcset="../src/images/2gallery7-tb.webp 1x, ../src/images/2gallery7-tb2x.webp 2x" type="image/webp"
                            media="(max-width: 767px)" />
                        <source srcset="../src/images/2gallery7-tb.jpg 1x, ../src/images/2gallery7-tb2x.jpg 2x" type="image/jpeg"
                            media="(max-width: 767px)" />
                        <source srcset="../src/images/2gallery7-pc.webp 1x, ../src/images/2gallery7-pc2x.webp 2x" type="image/webp"
                            media="(min-width: 768px)" />
                        <source srcset="../src/images/2gallery7-pc.jpg 1x, ../src/images/2gallery7-pc2x.jpg 2x" type="image/jpeg"
                            media="(min-width: 768px)" />
                <img src="../src/images/2gallery7-pc.jpg" alt="Собака облизывает мороженное" class="gallery-picture-top" />
                    </picture>
            <picture>
                <source srcset="../src/images/gallery7-mb.webp 1x, ../src/images/gallery7-mb2x.webp 2x" type="image/webp"
                    media="(max-width: 320px)" />
                <source srcset="../src/images/gallery7-mb.jpg 1x, ../src/images/gallery7-mb2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 320px)" />
                <source srcset="../src/images/gallery7-tb.webp 1x, ../src/images/gallery7-tb2x.webp 2x" type="image/webp"
                    media="(max-width: 767px)" />
                <source srcset="../src/images/gallery7-tb.jpg 1x, ../src/images/gallery7-tb2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 767px)" />
                <source srcset="../src/images/gallery7-pc.webp 1x, ../src/images/gallery7-pc2x.webp 2x" type="image/webp"
                    media="(min-width: 768px)" />
                <source srcset="../src/images/gallery7-pc.jpg 1x, ../src/images/gallery7-pc2x.jpg 2x" type="image/jpeg"
                    media="(min-width: 768px)" />
    
                <img src="../src/images/gallery7-mb.jpg" alt="Собака облизывает мороженное" class="gallery-picture"/>
            </picture>
            </div>
                <div class="gallery-item-bottom">
                    <picture>
                        <source srcset="../src/images/2gallery8-mb.webp 1x, ../src/images/2gallery8-mb2x.webp 2x" type="image/webp"
                            media="(max-width: 320px)" />
                        <source srcset="../src/images/2gallery8-mb.jpg 1x, ../src/images/2gallery8-mb2x.jpg 2x" type="image/jpeg"
                            media="(max-width: 320px)" />
                        <source srcset="../src/images/2gallery8-tb.webp 1x, ../src/images/2gallery8-tb2x.webp 2x" type="image/webp"
                            media="(max-width: 767px)" />
                        <source srcset="../src/images/2gallery8-tb.jpg 1x, ../src/images/2gallery8-tb2x.jpg 2x" type="image/jpeg"
                            media="(max-width: 767px)" />
                        <source srcset="../src/images/2gallery8-pc.webp 1x, ../src/images/2gallery8-pc2x.webp 2x" type="image/webp"
                            media="(min-width: 768px)" />
                        <source srcset="../src/images/2gallery8-pc.jpg 1x, ../src/images/2gallery8-pc2x.jpg 2x" type="image/jpeg"
                            media="(min-width: 768px)" />
            <img src="../src/images/2gallery8-pc.jpg" alt="Кофе с мороженным" class="gallery-picture-bottom" />
            </picture>
            <picture>
                <source srcset="../src/images/gallery8-mb.webp 1x, ../src/images/gallery8-mb2x.webp 2x" type="image/webp"
                    media="(max-width: 320px)" />
                <source srcset="../src/images/gallery8-mb.jpg 1x, ../src/images/gallery8-mb2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 320px)" />
                <source srcset="../src/images/gallery8-tb.webp 1x, ../src/images/gallery8-tb2x.webp 2x" type="image/webp"
                    media="(max-width: 767px)" />
                <source srcset="../src/images/gallery8-tb.jpg 1x, ../src/images/gallery8-tb2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 767px)" />
                <source srcset="../src/images/gallery8-pc.webp 1x, ../src/images/gallery8-pc2x.webp 2x" type="image/webp"
                    media="(min-width: 768px)" />
                <source srcset="../src/images/gallery8-pc.jpg 1x, ../src/images/gallery8-pc2x.jpg 2x" type="image/jpeg"
                    media="(min-width: 768px)" />
    
                <img src="../src/images/gallery8-mb.jpg" alt="Кофе с мороженным" class="gallery-picture"/>
            </picture>
                </div>
                
            </div>
            <div class="gallery-item">
                <div class="gallery-item-top">
                    <picture>
                        <source srcset="../src/images/2gallery9-mb.webp 1x, ../src/images/2gallery9-mb2x.webp 2x" type="image/webp"
                            media="(max-width: 320px)" />
                        <source srcset="../src/images/2gallery9-mb.jpg 1x, ../src/images/2gallery9-mb2x.jpg 2x" type="image/jpeg"
                            media="(max-width: 320px)" />
                        <source srcset="../src/images/2gallery9-tb.webp 1x, ../src/images/2gallery9-tb2x.webp 2x" type="image/webp"
                            media="(max-width: 767px)" />
                        <source srcset="../src/images/2gallery9-tb.jpg 1x, ../src/images/2gallery9-tb2x.jpg 2x" type="image/jpeg"
                            media="(max-width: 767px)" />
                        <source srcset="../src/images/2gallery9-pc.webp 1x, ../src/images/2gallery9-pc2x.webp 2x" type="image/webp"
                            media="(min-width: 768px)" />
                        <source srcset="../src/images/2gallery9-pc.jpg 1x, ../src/images/2gallery9-pc2x.jpg 2x" type="image/jpeg"
                            media="(min-width: 768px)" />
                    <img src="../src/images/2gallery9-pc.jpg" alt="Фруктовый коктель с мороженным" class="gallery-picture-top" />
                    </picture>
            <picture>
                <source srcset="../src/images/gallery9-mb.webp 1x, ../src/images/gallery9-mb2x.webp 2x" type="image/webp"
                    media="(max-width: 320px)" />
                <source srcset="../src/images/gallery9-mb.jpg 1x, ../src/images/gallery9-mb2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 320px)" />
                <source srcset="../src/images/gallery9-tb.webp 1x, ../src/images/gallery9-tb2x.webp 2x" type="image/webp"
                    media="(max-width: 767px)" />
                <source srcset="../src/images/gallery9-tb.jpg 1x, ../src/images/gallery9-tb2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 767px)" />
                <source srcset="../src/images/gallery9-pc.webp 1x, ../src/images/gallery9-pc2x.webp 2x" type="image/webp"
                    media="(min-width: 768px)" />
                <source srcset="../src/images/gallery9-pc.jpg 1x, ../src/images/gallery9-pc2x.jpg 2x" type="image/jpeg"
                    media="(min-width: 768px)" />
    
                <img src="../src/images/gallery9-mb.jpg" alt="Фруктовый коктель с мороженным" class="gallery-picture"/>
            </picture>
            </div>
            </div>
        
        </div>
    
    </section>
