<header class="header">
  <div class="header__container container">
    <a class="logo" href="/">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="./images/logo-mb.png 1x, ./images/logo-mb.png 2x"
          sizes="70vw"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/logo-mb.png 1x, ./images/logo-mb.png 2x"
          sizes="50vw"
        />
        <source
          media="(max-width: 767px)"
          srcset="./images/logo-mb.png 1x, ./images/logo-mb.png 2x"
          sizes="100vw"
        />
        <img src="#" alt="Логотип" loading="lazy" />
      </picture>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item nav__item--current"><a href="">Home</a></li>
        <li class="nav__item"><a href="">About us</a></li>
        <li class="nav__item"><a href="">How it’s made?</a></li>
        <li class="nav__item"><a href="">Our products</a></li>
        <li class="nav__item"><a href=""> Contact</a></li>
      </ul>
    </nav>

    <button type="button" class="burger-btn">
      <svg
        class="burger-btn__icon"
        width="20"
        height="12"
        aria-label="Переключатель мобильного меню"
      >
        <use href="./images/svg/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <!-- MOBILE-MENU START -->
    <div class="mobile-menu">
      <div class="mobile-menu__container">
        <button type="button" class="close-btn">
          <svg class="close-btn__icon" width="14" height="14">
            <use href="#"></use>
          </svg>
        </button>
        <button type="button">
          Buy now
          <svg width="4" height="8">
            <use href="#"></use>
          </svg>
        </button>
        <ul class="mobile-nav">
          <li class="mobile-nav__item"><a href="#">Home</a></li>
          <li class="mobile-nav__item"><a href="#">About us</a></li>
          <li class="mobile-nav__item"><a href="#">How it’s made?</a></li>
          <li class="mobile-nav__item"><a href="#">Our products</a></li>
          <li class="mobile-nav__item"><a href="#"> Contact</a></li>
        </ul>
      </div>
    </div>
    <!-- MOBILE-MENU END -->
    <button class="buy-now" type="button">
      Buy now
      <svg width="4" height="8">
        <use href="#"></use>
      </svg>
    </button>
  </div>
</header>
