<header>
  <div class="container">
    <a class="logo" href="/"></a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="">Home</a></li>
        <li class="nav__item"><a href="">About us</a></li>
        <li class="nav__item"><a href="">How it’s made?</a></li>
        <li class="nav__item"><a href="">Our products</a></li>
        <li class="nav__item"><a href=""> Contact</a></li>
      </ul>
    </nav>

    <button type="button" class="menu-button burger-btn" data-menu-open aria-controls="mobile-menu">
      <svg
        class="menu-button__icon"
        width="20"
        height="12"
        aria-label="Переключатель мобильного меню"
      >
        <use class="burger-btn__icon" href="#"></use>
      </svg>
    </button>
    <!-- MOBILE-MENU START -->
    <div class="mobile-menu" id="mobile-menu" data-menu>
      <div class="mobile-menu__container">
        <button type="button" class="menu-button close-btn" data-menu-close>
          <svg class="menu-button__icon" width="14" height="14">
            <use class="close-btn__icon" href="#"></use>
          </svg>
        </button>
        <button type="button">
          Buy now
          <svg width="4" height="8">
            <use href="#"></use>
          </svg>
        </button>
        <ul class="mobile-nav">
          <li class="mobile-nav__item"><a href="#">Home</a></li>
          <li class="mobile-nav__item"><a href="#">About us</a></li>
          <li class="mobile-nav__item"><a href="#">How it’s made?</a></li>
          <li class="mobile-nav__item"><a href="#">Our products</a></li>
          <li class="mobile-nav__item"><a href="#"> Contact</a></li>
        </ul>
      </div>
    </div>
    <!-- MOBILE-MENU END -->
    <button type="button">
      Buy now
      <svg width="4" height="8">
        <use href="#"></use>
      </svg>
    </button>
  </div>
</header>
