<header class="header-hero" id="header">
  <div class="header-hero__container container">
    <nav class="nav">
      <a class="logo" href="/">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="./images/logo-mb.webp 1x, ./images/logo-mb@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="./images/logo-mb.png 1x, ./images/logo-mb@2x.png 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/logo-mb.webp 1x, ./images/logo-mb@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/logo-mb.png 1x, ./images/logo-mb@2x.png 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="./images/logo-mb.webp 1x, ./images/logo-mb@2x.webp 2x"
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="./images/logo-mb.png 1x, ./images/logo-mb@2x.png 2x"
          />
          <img src="#" alt="Логотип" loading="lazy" />
        </picture>
      </a>
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link nav__link--current" href="#header">Home</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="#contacts">About us</a></li>
        <li class="nav__item"><a class="nav__link" href="#about">How it’s made?</a></li>
        <li class="nav__item"><a class="nav__link" href="#products">Our products</a></li>
        <li class="nav__item"><a class="nav__link" href="#contacts"> Contact</a></li>
      </ul>
      <button
        type="button"
        class="burger-btn header-btn"
        data-menu-open
        aria-controls="mobile-menu"
      >
        <svg
          class="burger-btn__icon"
          width="20"
          height="12"
          aria-label="Переключатель мобильного меню"
        >
          <use href="./images/svg/icons.svg#icon-burger"></use>
        </svg>
      </button>
      <button class="buy-now-btn header__buy-now-btn header-btn" type="button" data-modal-open>
        Buy now
        <svg class="buy-now-btn__icon" width="5" height="8">
          <use href="./images/svg/icons.svg#icon-bracket-right"></use>
        </svg>
      </button>
    </nav>
    <!-- MOBILE-MENU START -->
    <div class="mobile-menu" id="mobile-menu" data-menu>
      <div class="mobile-menu__container close-btn__container">
        <button type="button" class="close-btn header-btn" data-menu-close>
          <svg
            class="close-btn__icon"
            width="14"
            height="14"
            aria-label="Переключатель мобильного меню"
          >
            <use href="./images/svg/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>

      <div class="mobile-menu__container buy-now-btn__container">
        <button
          class="buy-now-btn mobile-menu__buy-now-btn header-btn"
          type="button"
          data-modal-open-mobile
        >
          Buy now
          <svg class="buy-now-btn__icon" width="5" height="8">
            <use href="./images/svg/icons.svg#icon-bracket-right"></use>
          </svg>
        </button>
      </div>

      <ul class="mobile-nav">
        <li class="mobile-nav__item">
          <div class="mobile-menu__container">
            <a class="mobile-nav__link mobile-nav__link--current" href="#header">Home</a>
          </div>
        </li>
        <li class="mobile-nav__item">
          <div class="mobile-menu__container">
            <a class="mobile-nav__link" href="#contacts">About us</a>
          </div>
        </li>
        <li class="mobile-nav__item">
          <div class="mobile-menu__container">
            <a class="mobile-nav__link" href="#about">How it’s made?</a>
          </div>
        </li>
        <li class="mobile-nav__item">
          <div class="mobile-menu__container">
            <a class="mobile-nav__link" href="#products">Our products</a>
          </div>
        </li>
        <li class="mobile-nav__item">
          <div class="mobile-menu__container">
            <a class="mobile-nav__link" href="#contacts"> Contact</a>
          </div>
        </li>
      </ul>
    </div>
    <!-- MOBILE-MENU END -->
    <div class="hero__title-container">
      <h1 class="hero-container__title">
        <span class="hero-container__portail1">ice cream made with</span>
        <span class="hero-container__pjrtail2"> passion</span>
      </h1>
      <ul class="hero__title-buttons">
        <li>
          <button class="hero__title-button1" type="button" onclick="location.href='#products'">
            Products
          </button>
        </li>
        <li>
          <button class="hero__title-button2" type="button" onclick="location.href='#about'">
            How it’s made?
          </button>
        </li>
      </ul>
    </div>
    <div class="hero__avd-card">
      <div class="milk-pic">
        <picture>
          <source srcset="./images/hero-milk-tb.png" media="(max-width: 1199px)" />
          <source srcset="./images/hero-milk-pc.png" media="(min-width: 1200px)" />
          <img src="./images/hero-milk-pc.png" alt="milk picture" />
        </picture>
      </div>
      <div class="hero-composition">
        <p class="hero-composition__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="next-slide-button" type="button">
          <img src="/images/png/arrow-right.png" />
        </button>
      </div>
    </div>
    <div class="company-about-1">
      <div class="company-about-1__circle"></div>
      <p class="company-about-1__num">16</p>
      <p class="company-about-1__text">cafes</p>
    </div>
    <div class="company-about-2">
      <div class="company-about-2__circle"></div>
      <p class="company-about-2__num">23</p>
      <p class="company-about-2__text">food trucks</p>
    </div>
    <div class="hero__circle"></div>
    <div class="ice-cream">
      <picture class="animate__animated animate__slideInUp ice-cream-pic">
        <source srcset="./images/icecream-mb.png" media="(max-width: 767px)" />
        <source srcset="./images/icecream-tb.png" media="(max-width: 1199px)" />
        <source srcset="./images/icecream-pc.png" media="(min-width: 1200px)" />
        <img src="./images/icecream-pc.png" alt="delicious ice-cream picture" />
      </picture>
    </div>
    <picture class="animate__animated animate__slideInRight girl-pic">
      <source srcset="./images/hero-girl-tb.png" media="(max-width: 1279px)" />
      <source srcset="./images/hero-girl-pc.png" media="(min-width: 1280px)" />
      <img src="./images/hero-girl-pc.png" alt="a very happy girl eating delicious ice-cream" />
    </picture>
  </div>
</header>
