<main>
  <section class="hero">
    <div class="hero-container container">
      <div class="hero__title-container">
        <h1 class="hero-container__title">
          <span class="hero-container__portail1">ice cream made with</span>
          <span class="hero-container__pjrtail2"> passion</span>
        </h1>
        <ul class="hero__title-buttons">
          <li>
            <button class="hero__title-button1" type="button">Products</button>
          </li>
          <li>
            <button class="hero__title-button2" type="button">How it’s made?</button>
          </li>
        </ul>
      </div>
      <div class="hero__avd-card">
        <div class="milk-pic">
          <picture>
            <source srcset="./images/hero-milk-tb.png" media="(max-width: 1199px)" />
            <source srcset="./images/hero-milk-pc.png" media="(min-width: 1200px)" />
            <img src="./images/hero-milk-pc.png" alt="milk picture" />
          </picture>
        </div>
        <div class="hero-composition">
          <p class="hero-composition__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <picture class="next-slide">
            <source srcset="/images/png/arrow-right.png" media="(max-width: 1199px)" />
            <source srcset="/images/png/arrow-right.png" media="(min-width: 1200px)" />
            <img
              src="/images/png/arrow-right.png"
              alt="advertisement arrow"
              width="18"
              height="18"
            />
          </picture>
        </div>
      </div>
      <div class="company-about-1">
        <div class="company-about-1__circle"></div>
        <p class="company-about-1__num">16</p>
        <p class="company-about-1__text">cafes</p>
      </div>
      <div class="company-about-2">
        <div class="company-about-2__circle"></div>
        <p class="company-about-2__num">23</p>
        <p class="company-about-2__text">food trucks</p>
      </div>
      <div class="hero__circle"></div>
      <div class="ice-cream">
        <picture class="animate__animated animate__slideInUp ice-cream-pic">
          <source srcset="./images/icecream-mb.png" media="(max-width: 767px)" />
          <source srcset="./images/icecream-tb.png" media="(max-width: 1199px)" />
          <source srcset="./images/icecream-pc.png" media="(min-width: 1200px)" />
          <img src="./images/icecream-pc.png" alt="ice-cream picture" />
        </picture>
      </div>
      <picture class="animate__animated animate__slideInRight girl-pic">
        <source srcset="./images/hero-girl-tb.png" media="(max-width: 1199px)" />
        <source srcset="./images/hero-girl-pc.png" media="(min-width: 1200px)" />
        <img src="./images/hero-girl-pc.png" alt="girl delicious ice-cream" />
      </picture>
    </div>
  </section>
</main>
