<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <p class="modal-title">Заказывайте вкусняшку, звонок уже в пути</p>
    <button type="button" class="modal__close-btn" data-modal-close>
      <svg width="18px" height="18px">
        <use href="./images/svg/icons.svg#close"></use>
      </svg>
    </button>
    <form class="modal-form" autocomplete="off">
      <label class="modal-form-field">
        <svg class="modal-icon" width="18px" height="18px">
          <use href="./images/svg/icons.svg#person"></use>
        </svg>
        <input type="text" name="name" class="modal-input" placeholder=" " />
        <span class="modal-label">Имя</span>
      </label>
      <label class="modal-form-field">
        <svg class="modal-icon" width="18px" height="18px">
          <use href="./images/svg/icons.svg#handset"></use>
        </svg>
        <input type="tel" name="tel" class="modal-input" placeholder=" " />
        <span class="modal-label">Телефон</span>
      </label>
      <label class="modal-form-field">
        <svg class="modal-icon" width="18px" height="18px">
          <use href="./images/svg/icons.svg#email"></use>
        </svg>
        <input type="email" name="email" class="modal-input" placeholder=" " />
        <span class="modal-label">Почта</span>
      </label>
      <div class="modal-form-ice">
        <label class="modal-form-field checkbox">
          <input type="checkbox" name="license" value="" class="checkbox-default" />
          <svg class="checkbox-icon" width="16px" height="15px">
            <use href="./images/svg/icons.svg#check"></use>
          </svg>
        </label>
        <img src="../src/images/modal-ice1.png" class="modal-form-pic" />

        <label class="modal-form-field checkbox">
          <input type="checkbox" name="license" value="" class="checkbox-default" />
          <svg class="checkbox-icon" width="16px" height="15px">
            <use href="./images/svg/icons.svg#check"></use>
          </svg>
        </label>
        <img src="../src/images/modal-ice2.png" class="modal-form-pic" />

        <label class="modal-form-field checkbox">
          <input type="checkbox" name="license" value="" class="checkbox-default" />
          <svg class="checkbox-icon" width="16px" height="15px">
            <use href="./images/svg/icons.svg#check"></use>
          </svg>
        </label>
        <img src="../src/images/modal-ice3.png" class="modal-form-pic" />
      </div>
      <label class="modal-form-field checkbox">
        <input type="checkbox" name="license" value="" class="checkbox-default" />
        <svg class="checkbox-icon" width="16px" height="15px">
          <use href="./images/svg/icons.svg#check"></use>
        </svg>
        <span class="modal-label-license"
          >Соглашаюсь с рассылкой и принимаю
          <a href="" class="conditions">Условия договора</a></span
        >
      </label>

      <button type="submit" class="modal-btn">Отправить</button>
    </form>
  </div>
</div>
