<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <p class="modal-title">One click - one icecream</p>
    <button type="button" class="modal__close-btn" data-modal-close>
      <svg width="18px" height="18px">
        <use href="./images/svg/icons.svg#close"></use>
      </svg>
    </button>
    <form class="modal-form" autocomplete="off">
      <label class="modal-form-field">
        <svg class="modal-icon" width="22px" height="22px">
          <use href="./images/svg/icons.svg#person"></use>
        </svg>
        <input type="text" name="name" class="modal-input" placeholder=" " />
        <span class="modal-label">Name</span>
      </label>
      <label class="modal-form-field">
        <svg class="modal-icon" width="22px" height="22px">
          <use href="./images/svg/icons.svg#handset"></use>
        </svg>
        <input type="tel" name="tel" class="modal-input" placeholder=" " />
        <span class="modal-label">Cell</span>
      </label>
      <label class="modal-form-field">
        <svg class="modal-icon" width="22px" height="22px">
          <use href="./images/svg/icons.svg#email"></use>
        </svg>
        <input type="email" name="email" class="modal-input" placeholder=" " />
        <span class="modal-label">Email</span>
      </label>
      <div class="modal-form-ice">
        <label class="modal-form-check checkbox">
          <input type="checkbox" name="license" value="" class="checkbox-default" />
          <svg class="checkbox-icon" width="16px" height="15px">
            <use href="./images/svg/icons.svg#check"></use>
          </svg>
        </label>
        <picture>
          <source srcset="../src/images/modal-ice1.webp 1x, ../src/images/modal-ice1-2x.webp 2x" type="image/webp"
            media="(max-width: 767px)" />
          <source srcset="../src/images/modal-ice1.png 1x, ../src/images/modal-ice1-2x.png 2x" type="image/jpeg"
            media="(max-width: 767px)" />
        
          <img src="../src/images/modal-ice1.png" class="modal-form-pic" />
        </picture>
        
        <label class="modal-form-check checkbox">
          <input type="checkbox" name="license" value="" class="checkbox-default" />
          <svg class="checkbox-icon" width="16px" height="15px">
            <use href="./images/svg/icons.svg#check"></use>
          </svg>
        </label>
        <picture>
          <source srcset="../src/images/modal-ice2.webp 1x, ../src/images/modal-ice2-2x.webp 2x" type="image/webp"
            media="(max-width: 767px)" />
          <source srcset="../src/images/modal-ice2.png 1x, ../src/images/modal-ice2-2x.png 2x" type="image/jpeg"
            media="(max-width: 767px)" />
        
          <img src="../src/images/modal-ice2.png" class="modal-form-pic" />
        </picture>

        <label class="modal-form-check checkbox">
          <input type="checkbox" name="license" value="" class="checkbox-default" />
          <svg class="checkbox-icon" width="16px" height="15px">
            <use href="./images/svg/icons.svg#check"></use>
          </svg>
        </label>
        <picture>
          <source srcset="../src/images/modal-ice3.webp 1x, ../src/images/modal-ice3-2x.webp 2x" type="image/webp"
            media="(max-width: 767px)" />
          <source srcset="../src/images/modal-ice3.png 1x, ../src/images/modal-ice3-2x.png 2x" type="image/jpeg"
            media="(max-width: 767px)" />
        
          <img src="../src/images/modal-ice3.png" class="modal-form-pic" />
        </picture>
      </div>     
          <label class="modal-form-field checkbox">
            <input type="checkbox" name="license" value="" class="checkbox-default" />
            <svg class="checkbox-icon" width="16px" height="15px">
              <use href="./images/svg/icons.svg#check"></use>
            </svg>
            <span class="modal-label-license"
              >accept the processing of personal data and 
              <a href="" class="conditions">Terms and Conditions</a></span>
          </label>
      <button type="submit" class="modal-btn">Buy now</button>
    </form>
  </div>
</div>
