<section class="section products" id="products">
  <div class="container products_conteiner">
    <p class="section__subtitle">100% natural</p>
    <h2 class="section__title">Products</h2>

    <ul class="products__list">
      <li class="products__item" data-product>
        <div class="products__item-front">
          <div class="products__item-inner products__item-inner_pink">
            <h3 class="products__item-title">
              <span class="products__item-title-dick"></span> ice cream
            </h3>
            <p class="products__item-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et.
            </p>

            <button class="products__item-button" type="button" data-product-open>
              <img src="/images/png/arrow-right.png" />
            </button>
          </div>
        </div>
        <div class="products__item-back products__item-back_pink">
          <button type="button" class="products__item-back-close" data-product-close>x</button>
          <div class="products__item-back-inner">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi voluptatum aliquam,
              magnam, nisi similique ea laborum ipsam iste quis ullam optio non doloribus autem
              temporibus!
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi voluptatum aliquam,
              magnam, nisi similique ea laborum ipsam iste quis ullam optio non doloribus autem
              temporibus!
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi voluptatum aliquam,
              magnam, nisi similique ea laborum ipsam iste quis ullam optio non doloribus autem
              temporibus!
            </p>
          </div>
        </div>
      </li>
      <li class="products__item" data-product>
        <div class="products__item-front">
          <div class="products__item-inner products__item-inner_coffee">
            <h3 class="products__item-title">
              <span class="products__item-title-dick"></span> ice cream
            </h3>
            <p class="products__item-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button class="products__item-button" type="button" data-product-open>
              <img src="/images/png/arrow-right.png" />
            </button>
          </div>
        </div>
        <div class="products__item-back products__item-back_coffee">
          <button type="button" class="products__item-back-close" data-product-close>x</button>
          <div class="products__item-back-inner">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi voluptatum aliquam,
              magnam, nisi similique ea laborum ipsam iste quis ullam optio non doloribus autem
              temporibus!
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi voluptatum aliquam,
              magnam, nisi similique ea laborum ipsam iste quis ullam optio non doloribus autem
              temporibus!
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi voluptatum aliquam,
              magnam, nisi similique ea laborum ipsam iste quis ullam optio non doloribus autem
              temporibus!
            </p>
          </div>
        </div>
      </li>
      <li class="products__item" data-product>
        <div class="products__item-front">
          <div class="products__item-inner products__item-inner_green">
            <h3 class="products__item-title">
              <span class="products__item-title-dick"></span> ice cream
            </h3>
            <p class="products__item-description products__item-back_green">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button class="products__item-button" type="button" data-product-open>
              <img src="/images/png/arrow-right.png" />
            </button>
          </div>
        </div>
        <div class="products__item-back">
          <button type="button" class="products__item-back-close" data-product-close>x</button>
          <div class="products__item-back-inner">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi voluptatum aliquam,
              magnam, nisi similique ea laborum ipsam iste quis ullam optio non doloribus autem
              temporibus!
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi voluptatum aliquam,
              magnam, nisi similique ea laborum ipsam iste quis ullam optio non doloribus autem
              temporibus!
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi voluptatum aliquam,
              magnam, nisi similique ea laborum ipsam iste quis ullam optio non doloribus autem
              temporibus!
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
