.about {
  padding-top: 125px;
  padding-bottom: 39px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 130px;
    padding-bottom: 66px;
  }

  background-color: #fff5f6;

  @media screen and (max-width: 767px) {
    background-image: url('/images/milk-mb.png');
    background-position: left 0 top 766px;
    background-repeat: no-repeat;
    background-size: contain;

    max-width: 100%;
    min-height: 100%;
    
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/images/milk-mb@2x.png');
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: none;
  }

  @media screen and (min-width: 1280px) {
    background-image: url('/images/milk-pc.png');
    background-position: left 0 top 342px;
    background-repeat: no-repeat;
    background-size: contain;

    max-width: 100%;
    max-height: 100%;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/images/milk-pc@2x.png');
    }
  }
}

.about__container {
  @media screen and (min-width: 768px) {
    padding-right: 36px;
    padding-left: 39px;
  }

  @media screen and (min-width: 1280px) {
    padding-right: 117px;
    padding-left: 112px;
  }
}

.about__label {
  margin-bottom: 15px;

  font-family: var(--secondary-font-family);
  font-size: 18px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;

  color: #ffa5ba;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;

    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;

    margin-bottom: 15px;
  }
}

.about__title {
  margin-bottom: 26px;

  font-family: var(--secondary-font-family);
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;

  text-align: center;
  text-transform: uppercase;

  color: #d41443;

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;

    font-size: 48px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 55px;

    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.about__decor {
  @media screen and (max-width: 767px) {
    background-image: url('/images/cow-mb.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    margin-left: auto;
    margin-right: auto;

    width: 280px;
    height: 279px;

    margin-bottom: 46px;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/images/cow-mb@2x.png');
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url('/images/cow-tb.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    width: 340px;
    height: 339px;

    margin-right: 17px;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/images/cow-tb@2x.png');
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url('/images/cow-pc.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    width: 516px;
    height: 516px;

    margin-right: 74px;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/images/cow-pc@2x.png');
    }
  }
}

.about__flex {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about__wraper {
  @media screen and (max-width: 767px) {
    width: 220px;

    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    width: 340px;
    margin-top: 50px;
  }

  @media screen and (min-width: 1280px) {
    width: 463px;
    margin-top: 51px;
  }
}

.about__list {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 62px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 45px;
  }
}

.about-list__item:first-child {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 35px;
  }
}

.about-list__item:nth-child(2) {
  @media screen and (max-width: 767px) {
    margin-bottom: 12px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 35px;
  }
}

.about-list__text {
  color: #907e82;
  font-weight: 500;
  @media screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 1.57;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.75;
  }
}

.about-list__text_black {
  color: #000000;
  @media screen and (max-width: 1279px) {
    letter-spacing: 0;
  }
}

.about__button {
  display: block;

  height: 44px;
  min-width: 176px;

  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28px;

  color: #d41443;
  background-color: #ffffff;
  border: none;
  border-radius: 22px;

  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:focus,
  &:hover {
    background-color: #ecebeb;
  }
}

.about__icon {
  width: 4.43px;
  height: 8px;
  margin-left: 13.62px;
}
