.advantages {
  background-color: var(--section-background-color);
  padding-bottom: 79px;
  padding-top: 0;

  @media screen and (min-width: 768px) {
    justify-content: left;
    padding-left: 2px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 81px;
  }
}

.advantages__list {
  @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    justify-content: left;
  }
}

.advantages__item {
  max-width: 230px;

  margin-bottom: 38px;
  &:last-child {
    margin: 0;
  }

  &::before {
    display: block;
    content: '';
    height: 66px;

    @media screen and (min-width: 768px) {
      height: 75px;
    }
    @media screen and (min-width: 1280px) {
      height: 90px;
    }
  }

  @media screen and (min-width: 480px) {
    margin: 0;
    max-width: 160px;
  }

  @media screen and (min-width: 768px) {
    max-width: 180px;
    margin-right: 60px;
    &:last-child {
      margin: 0;
    }
  }

  @media screen and (min-width: 1280px) {
    max-width: 330px;
    margin-right: 30px;
    &:last-child {
      margin: 0;
    }
  }
}
.advantages__item:nth-child(1)::before {
  background-image: url(../images/pic1-mb.png);
  background-repeat: no-repeat;
  background-size: 33px;
  background-position: left top;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .advantages__item:nth-child(1)::before {
    background-image: url('../images/pic1-mb@2x.png');
  }
}

.advantages__item:nth-child(1)::before {
  background-image: url('../images/pic1-mb.webp');
  background-repeat: no-repeat;
  background-size: 33px;
  background-position: left top;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .advantages__item:nth-child(1)::before {
    background-image: url('../images/pic1-mb@2x.webp');
  }
}
.advantages__item:nth-child(2)::before {
  background-image: url(../images/pic2-mb.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: left top;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .advantages__item:nth-child(2)::before {
    background-image: url('../images/pic2-mb@2x.png');
  }
}

.advantages__item:nth-child(2)::before {
  background-image: url('../images/pic2-mb.webp');
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: left top;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .advantages__item:nth-child(2)::before {
    background-image: url('../images/pic2-mb@2x.webp');
  }
}

.advantages__item:nth-child(3)::before {
  background-image: url(../images/pic3-mb.png);
  background-repeat: no-repeat;
  background-size: 44px;
  background-position: left top;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .advantages__item:nth-child(3)::before {
    background-image: url('../images/pic3-mb@2x.png');
  }
}

.advantages__item:nth-child(3)::before {
  background-image: url('../images/pic3-mb.webp');
  background-repeat: no-repeat;
  background-size: 44px;
  background-position: left top;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .advantages__item:nth-child(3)::before {
    background-image: url('../images/pic3-mb@2x.webp');
  }
}

.advantages__item--title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--accent-and-text-color);
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
    text-transform: none;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
  }
}

.advantages__text {
  margin-top: 15px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.66;
  color: var(--second-text-color);
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.71;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
  }
}
