
// .link {
//     text-decoration: none;
// }

.contacts {
    
    @media screen and (max-width: 767px) {
        padding-bottom: 113px;
        background: linear-gradient(180deg, var(--second-background-and-text-color) 84px, #FFF5F6 84px);
      }
    
    @media screen and (min-width: 768px) {
        padding-bottom: 158px;
        background: linear-gradient(180deg, var(--second-background-and-text-color) 78px, #FFF5F6 78px);
      }
    
    @media screen and (min-width: 1280px) {
        padding-bottom: 165px;
        
        background-image: url(../images/side-background.png), linear-gradient(180deg, var(--second-background-and-text-color) 102px, #FFF5F6 102px);
        background-repeat: no-repeat;
        background-position: left top 102px, center;
        background-size: contain;
        max-width: 100%;
        max-height: 100%;
  
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/side-background@2x.png), linear-gradient(180deg, var(--second-background-and-text-color) 102px, #FFF5F6 102px);
    }
      }
    
}
.contacts__container {

    @media screen and (max-width: 767px) {
        padding: 0 50px;
    }

    @media screen and (min-width: 768px) {
        padding: 0 36px;
    }

    @media screen and (min-width: 1280px) {
    padding: 0 115px;
}

}
.contacts__list {
    padding: 0;
    margin: 0;
    list-style: none;

    @media screen and (max-width: 767px) {
        margin-bottom: 54px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 81px;
    }

    @media screen and (min-width: 1280px) {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 86px;  
    }
}

.contacts__item {
    background: var(--second-background-and-text-color);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @media screen and (max-width: 767px) {
        width: 100%;
        padding: 43px 20px;
        margin-bottom: 20px;
      }
    
      @media screen and (min-width: 768px) {
        width: calc((100% - 40px) / 3);
        padding: 50px 31px;
        margin-left: 20px;
      }
      
      @media screen and (min-width: 1280px) {
        width: calc((100% - 60px) / 3);
        padding: 51px 44px 62px 43px;
        margin-left: 30px;
      }
    
    &:last-child {
        @media screen and (max-width: 767px) {
            margin-bottom: 0;
        }
    }
    &:first-child {
        @media screen and (min-width: 768px) {
            margin-left: 0;
          }

          @media screen and (min-width: 1280px) {
            margin-left: 0;
          }

    }
       
}

.contacts__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font-family);
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--second-background-and-text-color);
    background-color:#F0D1A5 ;
    border-radius: 6px;
    
    @media screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 1.86;
        width: 80px;
        height: 16px;
        margin-bottom: 25px;
      }

      @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.88;
        width: 73px;
        height: 28px;
        margin-bottom: 30px;
      }

      @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.88;
        width: 73px;
        height: 28px;
        margin-bottom: 32px;
      }
}
.contacts__second-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font-family);
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--second-background-and-text-color);
    background-color:#C2E297 ;
    border-radius: 6px;
    
    @media screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 1.86;
        width: 130px;
        height: 16px;
        margin-bottom: 25px;
      }

      @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.88;
        width: 138px;
        height: 28px;
        margin-bottom: 30px;
      }

      
      @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.88;
        width: 138px;
        height: 28px;
        margin-bottom: 32px;
      }

}
.contacts__pre-title {
    display: block;
    font-family: var(--primary-font-family);
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--second-text-color);

    @media screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 1.83;
        margin-bottom: 10px;
      }

      @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.86;
        margin-bottom: 14px;
      }

      @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.88;
        margin-bottom: 10px;
      }

}
.contacts__text {
    font-family: var(--primary-font-family);
    font-weight: 500;
    color: var(--third-text-color);
    border-bottom: 1px solid #E1E1E1;


    @media screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 1.5;
        padding-bottom: 25px;
        margin-bottom: 25px;
      }

      @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.64;
        padding-bottom: 30px;
        margin-bottom: 30px;
      }

      @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.8;
        padding-bottom: 32px;
        margin-bottom: 32px;
      }
    
}

.contacts__day-working {
    font-family: var(--primary-font-family);
    font-weight: 500;
    color: var(--second-text-color);

    @media screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 1.83;
    }

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.86;
    
    }

    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.88;
        
    }
}
.contacts__time-working {
    font-family: var(--primary-font-family);
    font-weight: 500;
    color: var(--first-text-color);

    @media screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 1.83;
    }

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.86;
    }

    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.88;
    }
}
.contacts__info-working {
    border-bottom: 1px solid #E1E1E1;

    @media screen and (max-width: 767px) {
        margin-bottom: 25px;
        padding-bottom: 25px;

    }

    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 32px;
        padding-bottom: 32px;
    }
}
.contacts__weekdays {

    @media screen and (max-width: 767px) {
        margin-bottom: 10px;
      }

      @media screen and (min-width: 768px) {
        margin-bottom: 16px;
      }

      @media screen and (min-width: 1280px) {
        margin-bottom: 15px;
      }
}

.contacts__mail, 
.contacts__tel {
    font-family: var(--primary-font-family);
    font-weight: 500;
    color: var(--third-text-color);

    &:hover,
    &:focus {
        color: var(--accent-and-text-color);
    }


    @media screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 1.5;
    }

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.86;
    }

    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.8;
    }
}
.contacts__btn {
    transition: background-color var(--duration) var(--timing-function);

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and (min-width: 1280px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.contacts__location {
    font-family: var(--primary-font-family);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--second-background-and-text-color);
    background: #D41342;
    border: none;
    border-radius: 22px;
    transition: background-color var(--duration) var(--timing-function);

    &:hover,
    &:focus{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background-color: var(--background-and-text-color);
    }
    
    @media screen and (max-width: 767px) {
        width: 161px;
        height: 44px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    @media screen and (min-width: 768px) {
        width: 192px;
        height: 44px;
    }

    @media screen and (min-width: 1280px) {
        width: 198px;
        height: 44px;
    }
   
}
.contacts__location-icon {
    width: 8px;
    height: 16px;
    stroke: var(--second-background-and-text-color);


    @media screen and (max-width: 767px) {
        margin-left: 8px ;
    }

    @media screen and (min-width: 768px) {
        margin-left: 14px ;
    }

    @media screen and (min-width: 1280px) {
        margin-left: 14px ;
    }
}
.contacts__franchise {
    background: var(--second-background-and-text-color);
    border: none;
    border-radius: 22px;
    font-family: var(--primary-font-family);
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-and-text-color);
    transition: background-color var(--duration) var(--timing-function);

    &:hover,
    &:focus{
        background-color: var(--first-hover-color);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    @media screen and (max-width: 767px) {
        width: 161px;
        height: 44px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 768px) {
        width: 175px;
        height: 44px;
        margin-left: 15px;
    }

    @media screen and (min-width: 1280px) {
        width: 180px;
        height: 44px;
        margin-left: 15px;
    }

}
.contacts__franchise-icon {
    width: 8px;
    height: 16px;
    stroke: var(--accent-and-text-color);

    @media screen and (max-width: 767px) {
        margin-left: 13px ;
    }

    @media screen and (min-width: 768px) {
        margin-left: 13px ;
    }

    @media screen and (min-width: 768px) {
        margin-left: 14px ;
    }
}

// franchise-modal

.contacts-backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left:0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: visibility var(--duration) var(--timing-function), opacity var(--duration) var(--timing-function);
    
    &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
}
.francise-modal__btn-close {
    position: absolute;
    border: none;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--second-background-and-text-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color var(--duration) var(--timing-function);

    &:focus,
    &:hover {
        fill: var(--accent-and-text-color);
    }

}

.franchise-modal {
    position: absolute;
    background-color:var(--background-and-text-color);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;

    @media screen and (max-width: 479px) {
      width: calc(100% - 30px);
      height: 700px;
      padding: 40px 20px;

    }

    @media screen and (min-width: 480px) {
        width: 450px;
        height: 700px;
      }
    
      @media screen and (min-width: 1280px) {
        width: 600px;
        height: 700px;
      
      }
}

.franchise-modal__head {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: var(--second-background-and-text-color);
    margin-bottom: 20px;

    @media screen and (max-width: 767px) {
        line-height: 1.5;
      }
    
    @media screen and (min-width: 768px) {
        line-height: 1.5;
      }
    
    @media screen and (min-width: 1280px) {
        line-height: 1.15;
      }
}
.franchise-modal__field {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--second-text-color);
}

.franchise-modal__wrapper {
    position: relative;
    display: block;
    font-size: 0;
    margin-top: 4px;
}
.franchise-modal__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color var(--duration) var(--timing-function);

    &:focus {
        outline: none;
        border-color: var(--accent-and-text-color);
    }
}

.franchise-modal__icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%) ;
    transition: fill var(--duration) var(--timing-function);

    .franchise-modal__input:focus + & {
        fill: var(--accent-and-text-color);
    }
}

.franchise-modal__message-field {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--second-text-color);
    margin-bottom: 20px;
}
.franchise-modal__message {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    padding: 16px 12px;
    margin-top: 4px;
    transition: border-color var(--duration) var(--timing-function);

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
        outline: none;
        border-color: var(--accent-and-text-color);
    }
}

.franchise-modal__btn {
    display: block;
    border: none;
    width: 100px;
    height: 50px;
    background: var(--second-background-and-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--second-text-color);
    padding: 5px auto;
    margin: 0 auto;

    &:focus,
    &:hover {
        color: var(--accent-and-text-color);

    }
}


