
.link {
    text-decoration: none;
}
.contacts {
    
    @media screen and (max-width: 767px) {
        padding-top: 86px;
        padding-bottom: 113px;
        background: linear-gradient(to bottom, #FFFFFF 10%, #FFF5F6 90%);
      }
    
    @media screen and (min-width: 768px) {
        padding-top: 119px;
        padding-bottom: 158px;
        background: linear-gradient(to bottom, #FFFFFF 24%, #FFF5F6 76%);
      }
    
    @media screen and (min-width: 1200px) {
        padding-top: 132px;
        padding-bottom: 165px;
        background: linear-gradient(to bottom, #FFFFFF 25%, #FFF5F6 75%);
      }
    
}
.contacts__list {
    padding: 0;
    margin: 0;
    list-style: none;
    
    @media screen and (max-width: 767px) {
        margin-bottom: 54px;
    }
}

.contacts__item {
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @media screen and (max-width: 767px) {
        width: calc(100% - 60px);
        padding: 43px 20px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 20px;
      }
    
    
    &:last-child {
        @media screen and (max-width: 767px) {
            margin-bottom: 0px;
        }
    }
       
}

.contacts__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font-family);
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color:#F0D1A5 ;
    
    @media screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 1.86;
        width: 80px;
        height: 16px;
        margin-bottom: 25px;
      }
}
.contacts__second-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font-family);
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color:#C2E297 ;
    
    @media screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 1.86;
        width: 130px;
        height: 16px;
        margin-bottom: 25px;
      }

}
.contacts__pre-title {
    display: block;
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    color: #000000;
    margin-bottom: 10px;
}
.contacts__text {
    position: relative;
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #907E82;
    margin-bottom: 50px;
    
}
.contacts__text::after {
    content:"";
    position: absolute;
    display: block;
    width: 100%;
    bottom: - 25px;
    border: 1px solid #E1E1E1;
}
.contacts__day-working {
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    color: #000000;
    @media screen and (max-width: 767px) {
        margin-bottom: 10px;

        &:last-child{
            margin-bottom: 0;
        }
    }
}
.contacts__time-working {
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    color: #FFA5BA;
}
.contacts__info-working {
    position: relative;
    margin-bottom: 50px;
}
.contacts__info-working::after {
    content:"";
    position: absolute;
    display: block;
    width: 100%;
    bottom: - 25px;
    border: 1px solid #E1E1E1;
}
.contacts__mail, 
.contacts__tel {
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #907E82;
}
.contacts__location {
    font-family: var(--primary-font-family);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #D41342;
    border: none;
    border-radius: 22px;

    &:hover,
    &:focus{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    @media screen and (max-width: 767px) {
        width: 161px;
        height: 44px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
   
}
.contacts__location-icon {
    width: 8px;
    height: 16px;
    fill: currentColor;
    margin-left: 8px ;
}
.contacts__franchise {
    background: #FFFFFF;
    border: none;
    border-radius: 22px;
    font-family: var(--primary-font-family);
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D41443;

    &:hover,
    &:focus{
        background-color: #ECEBEB;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    @media screen and (max-width: 767px) {
        width: 161px;
        height: 44px;
        margin-left: auto;
        margin-right: auto;
    }

}
.contacts__franchise-icon {
    width: 8px;
    height: 16px;
    fill: currentColor;
    margin-left: 13px ;
}
