// .section__reviews {
// }

.customer-reviews__wrapper {
  background-color: #fafafa;
  padding: 43px 66px 26px 57px;
  margin-bottom: 30px;
}
.customer-reviews__discription {
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(31 / 12);
  text-align: center;
  background-image: repeating-linear-gradient(
    to bottom,
    #fafafa,
    #fafafa,
    30px,
    #d9d9d9 30px,
    #d9d9d9 30.5px
  );
  color: #000000;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url('../images/svg/icon-quotes.svg');
    top: -5%;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    width: 54px;
    height: 40px;
    z-index: -1;
  }
}

.customer-sign__wrapper {
  display: block;
  position: relative;
  margin-bottom: 30px;
  padding: 18px 54px 30px 54px;
}
.customer-reviews__sign {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(26 / 14);
  text-align: center;

  color: #000000;
  &::before {
    display: block;
    position: absolute;
    content: '.  .  .';
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    font-weight: 700;
    color: #c7133e;
  }
}

.customer-photo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;

  border-radius: 50%;
}
// .slick-track {
//   display: flex;
// }
