.container__customer {
  @media screen and (min-width: 480px) {
    padding-left: 74px;
    padding-right: 74px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 178px;
    padding-right: 176px;
  }
}

.section__reviews {
  padding-bottom: 86px;

  @media screen and (min-width: 768px) {
    padding-bottom: 119px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 132px;
  }
}

.customer-photo {
  text-align: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  border-radius: 50%;
  transform: scale(1);
  transition: transform var(--duration) var(--timing-function);

  &:hover {
    transform: scale(1.1);
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 19px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}
.customer-reviews__wrapper {
  position: relative;
  background-color: #fafafa;
  padding: 43px 66px 26px 57px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  transition: box-shadow var(--duration) var(--timing-function);

  @media screen and (min-width: 768px) {
    padding: 47px 80px 34px 80px;
    margin-bottom: 24px;
    width: 620px;
  }
  @media screen and (min-width: 1280px) {
    padding: 47px 89px 39px 87px;
    margin-bottom: 15px;
    width: 926px;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  }
}

.customer-reviews__discription {
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(31 / 12);
  text-align: center;
  background-image: repeating-linear-gradient(
    to bottom,
    #fafafa,
    #fafafa,
    30px,
    #d9d9d9 30px,
    #d9d9d9 30.5px
  );
  background-size: 100% 30.5px;
  background-clip: content-box;
  color: var(--second-text-color);

  @media screen and (min-width: 768px) {
    background-image: repeating-linear-gradient(
      to bottom,
      #fafafa,
      #fafafa,
      29px,
      #d9d9d9 29px,
      #d9d9d9 29.5px
    );
    background-size: 100% 29.5px;
  }

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url('../images/svg/icon-quotes1.svg');
    fill: #e1e1e1;
    top: -15px;
    left: -3px;
    background-repeat: no-repeat;
    background-position: center;
    width: 54px;
    height: 40px;
    z-index: -1;
    @media screen and (min-width: 480px) {
      top: -15px;
      left: -23px;
    }

    @media screen and (min-width: 768px) {
      top: -15px;
      left: -43px;
    }

    @media screen and (min-width: 1280px) {
      top: -15px;
      left: -37px;
    }
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(30 / 14);
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.customer-reviews__sign {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(26 / 14);
  text-align: center;
  color: var(--second-text-color);

  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
  }
}

.marks,
.marks:before,
.marks:after {
  width: 4px;
  height: 4px;
  background: var(--second-hover-color);
  border-radius: 50%;
}
.marks {
  position: relative;
  margin: 0 auto;
  display: block;
  margin-bottom: 18px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }

  &:before {
    content: '';
    position: absolute;
    left: -10px;
  }

  &:after {
    content: '';
    position: absolute;
    right: -10px;
  }
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}
.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;

  @media screen and (min-width: 480px) {
    margin: 0px 18px;
  }
}

.slider .slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: #d9d9d9;
  cursor: pointer;
}

.slider .slick-dots li.slick-active:first-child button {
  background: url('../images/svg/home-1.svg');
  width: 13px;
  height: 12px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.slider .slick-dots li.slick-active button {
  background-color: #d31342;
}
