.section__reviews {
  padding-top: 80px;
}

.customer-reviews__wrapper {
  background-color: #fafafa;
  padding: 43px 66px 26px 57px;
  margin-bottom: 30px;
}
.customer-reviews__discription {
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(31 / 12);
  text-align: center;
  background-image: repeating-linear-gradient(
    to bottom,
    #fafafa,
    #fafafa,
    30px,
    #d9d9d9 30px,
    #d9d9d9 30.5px
  );
  color: var(--second-text-color);

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url('../images/svg/icons.svg#icon-quotes.svg');
    fill: #e1e1e1;
    top: -5%;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    width: 54px;
    height: 40px;
    z-index: -1;
    border: 3px solid var(--second-text-color);
  }
}

.customer-sign__wrapper {
  display: block;
  position: relative;
  margin-bottom: 30px;
  padding: 18px 54px 0px 54px;
}
.customer-reviews__sign {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(26 / 14);
  text-align: center;

  color: var(--second-text-color);
  &::before {
    display: block;
    position: absolute;
    content: '.  .  .';
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    font-weight: 700;
    color: var(--second-hover-color);
  }
}

.customer-photo {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  border-radius: 50%;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}
.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0px 18px;
}

/* Активная точка */
// .slick-dots li.slick-active {
// }
/* Элемент точки */
// .slider .slick-dots li button {

// }

.slider .slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: #d9d9d9;
  cursor: pointer;
}

.slider .slick-dots li.slick-active button {
  background-color: #d31342;
}

.slider .slick-dots li button:first-child {
  fill: #d31342;
  background-image: ('../images/svg/icons.svg#icon-house');
}
// .slider .slick-dots li.slick-active button:first-child {
//   background-color: #fafafa;
//   fill: #d31342;
//   background-image: ('../images/svg/icons.svg#icon-house');
// }

//  .slick-slider {
// }
// /* Слайдер запущен */
// .slick-slider.slick-initialized {

// /* Слайдер с точками */
// .slick-slider.slick-dotted {
// }
// /* Ограничивающая оболочка */
// .slick-list {
//   // overflow: hidden;
// }
// /* Лента слайдов */
// .slick-track {
// }
// /* Слайд */
// .slick-slide {
// }
// /* Слайд активный (показывается) */
// .slick-slide.slick-active {
// }
// /* Слайд основной */
// .slick-slide.slick-current {
// }
// /* Слайд по центру */
// .slick-slide.slick-center {
// }
// /* Клонированный слайд */
// .slick-slide.slick-cloned {
// }
// /* Стрелка */
// .slick-arrow {
// }
// /* Стрелка влево */
// .slick-arrow.slick-prev {
// }
// /* Стрелка вправо */
// .slick-arrow.slick-next {
// }
// /* Стрелка не активная */
// .slick-arrow.slick-disabled {
// }
// /* Точки (булиты) */
//
