.container__customer {
  @media screen and (min-width: 480px) {
    max-width: 768px;
  }

  @media screen and (min-width: 769px) {
    max-width: 1280px;
  }
}
.container__customer {
  @media screen and (min-width: 480px) {
    padding-left: 74px;
    padding-right: 74px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 178px;
    padding-right: 176px;
  }
}

.section__reviews {
  padding-bottom: 86px;

  @media screen and (min-width: 768px) {
    padding-bottom: 119px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 132px;
  }
}

.customer-photo {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    margin-bottom: 19px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 15px;
  }
}
.customer-reviews__wrapper {
  background-color: #fafafa;
  padding: 43px 66px 26px 57px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    padding: 30px 36px 28px 40px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1200px) {
    padding: 32px 54px 32px 50px;
    margin-bottom: 15px;
  }
}

.customer-reviews__discription {
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(31 / 12);
  text-align: center;
  background-image: repeating-linear-gradient(
    to bottom,
    #fafafa,
    #fafafa,
    30px,
    #d9d9d9 30px,
    #d9d9d9 30.5px
  );
  background-size: 100% 30.5px;
  background-clip: content-box;
  color: var(--second-text-color);

  @media screen and (min-width: 768px) {
    background-image: repeating-linear-gradient(
      to bottom,
      #fafafa,
      #fafafa,
      29px,
      #d9d9d9 29px,
      #d9d9d9 29.5px
    );
    background-size: 100% 29.5px;
  }

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url('../images/svg/icon-quotes1.svg');
    fill: #e1e1e1;
    top: -5%;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    width: 54px;
    height: 40px;
    z-index: -1;
    @media screen and (min-width: 768px) {
      top: -20%;
      left: -8%;
    }

    @media screen and (min-width: 1200px) {
      top: -20%;
      left: -5%;
    }
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(30 / 14);
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.customer-sign__wrapper {
  display: block;
  position: relative;
  margin-bottom: 30px;
  padding: 18px 54px 0px 54px;

  @media screen and (min-width: 768px) {
    padding: 18px 54px 0px 54px;
    margin-bottom: 35px;
  }
  @media screen and (min-width: 1200px) {
    padding: 14px 264px 0px 264px;
  }
}
.customer-reviews__sign {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(26 / 14);
  text-align: center;
  color: var(--second-text-color);
}

.marks,
.marks:before,
.marks:after {
  width: 4px;
  height: 4px;
  background: var(--second-hover-color);
  border-radius: 50%;
}
.marks {
  position: relative;
  margin: 0 auto;
  display: block;

  &:before {
    content: '';
    position: absolute;
    left: -10px;
  }

  &:after {
    content: '';
    position: absolute;
    right: -10px;
  }
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}
.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;

  @media screen and (min-width: 480px) {
    margin: 0px 18px;
  }
}

.slider .slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: #d9d9d9;
  cursor: pointer;
}

.slider .slick-dots li.slick-active:first-child button {
  background: url('../images/svg/home-1.svg');
  width: 13px;
  height: 12px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.slider .slick-dots li.slick-active button {
  background-color: #d31342;
}
