.footer {
  background-color: var(--section-background-color);
  padding-top: 0;
}
.footer__container {
  min-width: 320px;
  margin-bottom: 43px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100vw;

  @media screen and (min-width: 768px) {
    width: 768px;
    display: flex;
    padding: 0 36px;
    margin-bottom: 91px;
    justify-content: space-between;
  }
  @media screen and (min-width: 1280px) {
    width: 1080px;
    margin-bottom: 97px;
  }
}
.footer__text {
  margin-bottom: 43px;
  // display: flex;
  // flex-direction: column;

  @media screen and (max-width: 767px) {
    width: 234px;
  }

  @media screen and (min-width: 768px) {
    width: 340px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 100%;
  }
}
.footer__title {
  font-family: 'Titan One', sans-serif;
  text-transform: uppercase;

  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.04em;
  // max-width: 232px;
  color: var(--first-text-color);
  margin-bottom: 17px;

  &--subtitle {
    // display: block;
    font-family: 'Titan One', sans-serif;
    text-transform: uppercase;

    font-size: 34px;
    line-height: calc(39 / 34);
    letter-spacing: 0.04em;
    max-width: 200px;
    color: var(--accent-and-text-color);
    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: calc(55 / 48);
      letter-spacing: 0.06em;
    }
    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: calc(66 / 58);
      letter-spacing: 0.06em;
      // display: flex;
    }
  }
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: calc(30 / 26);
    letter-spacing: 0.04em;
    width: 340px;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: calc(34 / 30);
    letter-spacing: 0.04em;
    width: 472px;
  }
}
.footer__social {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 50px;
  }
}
.footer__social--link {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  color: #fea5bb;
  transition: color var(--duration) var(--timing-function);
  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
  &:hover,
  &:focus {
    color: var(--accent-and-text-color);
  }
}
.footer__social--icon {
  fill: currentColor;
  &:hover,
  &:focus {
    fill: currentColor;
  }
}
.footer__social--item {
  @media screen and (max-width: 767px) {
    &:not(:first-child) {
      margin-left: 28.24px;
    }
  }
  @media screen and (min-width: 768px) {
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
  @media screen and (min-widt: 1280px) {
    &:not(:first-child) {
      margin-left: 25px;
    }
  }
}
.footer__contact {
  text-align: right;
  font-weight: 700;
  font-size: 12px;

  line-height: calc(22 / 12);

  display: flex;
  justify-content: right;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    display: inline-block;
    width: 319px;
    text-align: right;
  }
}
.footer__contact--phone {
  color: var(--accent-and-text-color);
  &:hover,
  &:focus {
    color: var(--third-text-color);
  }
  transition: color var(--duration) var(--timing-function);
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.footer__symbol {
  border-top: 1px solid #e1e1e1;
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 25px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  color: var(--third-text-color);

  @media screen and (max-width: 767px) {
    &--text {
      width: 150px;
    }
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 18px;
    padding-top: 29px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 10px;
    padding-top: 9px;
  }
}
