.gallery {
  background-image: linear-gradient(to bottom, #fff5f6 39%, #ffffff 39%);
}

.gallery-box {
  display: flex;
  flex-basis: auto;
  align-items: center;
  justify-content: center;
}

.gallery-item:nth-child(5) {
  margin-top: 40px;
}

.gallery-item:nth-child(7) {
  margin-bottom: 15px;
}

.gallery-picture {
  border-radius: 15px;
  margin: 4px;
  /*width: 40px;*/
  transition: border-radius 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &:hover {
    border-radius: 50%;
    transform: scale(0.95);
  }

  @media screen and (min-width: 480px) {
    border-radius: 25px;
    /*width: 85px;*/
  }
}

/*.gallery-picture-big {
  width: 80px;

  @media screen and (min-width: 480px) {
    width: 170px;
  }
}*/
