.header {
  position: relative;
  background-color: #ffb8ca;
}
.header__container {
  display: flex;
  align-items: center;
  // margin: 0;
  @media screen and (min-width: 480px) {
    max-width: 767px;
  }
  @media screen and (max-width: 767px) {
    justify-content: space-between;
    padding-top: 6px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 37px;
    padding-left: 34px;
    padding-right: 34px;
    max-width: 1279px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 37px;
    padding-left: 46px;
    max-width: 1280px;
  }
}
.logo {
  display: block;
  @media screen and (min-width: 768px) {
    margin-right: auto;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 110px;
  }
}
.nav__list {
  display: flex;
  margin-right: 110px;

  @media screen and (max-width: 1279px) {
    display: none;
  }
}
.nav__item:not(:last-child) {
  margin-right: 35px;
}
.nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #ffffff;
  &--current {
    color: #d41443;
  }
  &:hover,
  &:focus {
    color: #d41443;
  }
}
.header-btn {
  outline: 0;
  border: none;
  padding: 0;
  background-color: transparent;
}
.burger-btn {
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.buy-now-btn {
  display: block;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  background-color: #ffffff;
  border-radius: 22px;
  color: #d41443;
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
.header__buy-now-btn {
  width: 160px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #e17992;

  @media screen and (min-width: 768px) {
    width: 254px;
  }

  transform: translateX(100%);
  transition: var(--duration) var(--timing-function);
  &.is-open {
    transform: translateX(0);
  }
}
.mobile-menu__container {
  padding-left: 21px;
  @media screen and (min-width: 768px) {
    padding-left: 24px;
  }
}

.close-btn {
  display: block;
  margin-left: auto;
  padding: 23px 28px;
}
.buy-now-btn__container {
  margin-bottom: 19px;
  padding-left: 0;
}
.mobile-menu__buy-now-btn {
  width: 209px;
  @media screen and (min-width: 768px) {
    width: 186px;
  }
  margin: 0 auto;
}
.buy-now-btn__icon {
  margin-left: 20px;
}

.mobile-nav__link {
  display: flex;
  align-items: center;
  height: 42px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  &--current {
    color: #d41443;
  }
  &:hover,
  &:focus {
    color: #d41443;
  }
}
.mobile-nav__item {
  border-bottom: 1px solid #e18298;

  &:first-child {
    border-top: 1px solid #e18298;
  }
}
