.header {
  position: relative;
  background-color: #ffb8ca;
}
.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
}
.logo {
  display: block;
}
.nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
// .mobile-menu {
//   display: none;
// }
.header-btn {
  outline: 0;
  border: none;
  padding: 0;
  background-color: transparent;
}

.buy-now-btn {
  display: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}
.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #e17992;

  transform: translateX(100%);
  transition: var(--duration) var(--timing-function);
  &.is-open {
    transform: translateX(0);
  }
}
.mobile-menu__container {
  padding-left: 21px;
}
.close-btn__container {
  margin-bottom: 23px;
}
.close-btn {
  display: block;
  margin-left: auto;
  // margin-bottom: 23px;
  padding-top: 23px;
  padding-right: 28px;
}
.buy-now-btn__container {
  margin-bottom: 19px;
  padding-left: 0;
}
.mobile-menu__buy-now-btn {
  display: block;
  width: 209px;
  height: 44px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 22px;
  color: #d41443;
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
.buy-now-btn__icon {
  margin-left: 20px;
}

.mobile-nav__link {
  display: flex;
  align-items: center;
  height: 42px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  &--current {
    color: #d41443;
  }
  &:hover,
  &:focus {
    color: #d41443;
  }
}
.mobile-nav__item {
  border-bottom: 1px solid #e18298;

  &:first-child {
    border-top: 1px solid #e18298;
  }
}
