.hero {
  overflow: hidden;
  background-color: #ffb8ca;
}
.hero-container {
  position: relative;
  height: 502px;

  @media screen and (min-width: 768px) {
    height: 385px;
  }

  @media screen and (min-width: 1200px) {
    height: 535px;
  }
}

.hero__title-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 137px;
  z-index: 1;

  @media screen and (min-width: 768px) {
    padding-top: 75px;
  }

  @media screen and (min-width: 1200px) {
    // margin-top: 84px;
  }
}

.hero-container__title {
  width: 218px;
  font-family: 'Titan One';
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    width: 162px;
  }
  @media screen and (min-width: 1200px) {
    width: 277px;
  }
}
.hero-container__portail1 {
  font-family: var(--secondary-font-family);
  line-height: 1.15;
  font-weight: 400;
  font-size: 26px;
  text-align: unset;
  letter-spacing: 0.04em;
  text-transform: none;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    line-height: 1.14;
    font-weight: 400;
    font-size: 22px;
    text-align: unset;
    letter-spacing: 0.04em;
    text-transform: none;
  }
  @media screen and (min-width: 1200px) {
    line-height: 1.16;
    font-weight: 400;
    font-size: 38px;
    text-align: unset;
    letter-spacing: 0.04em;
    text-transform: none;
  }
}
.hero-container__pjrtail2 {
  font-family: var(--secondary-font-family);
  line-height: 1;
  font-weight: 400;
  font-size: 48px;
  text-align: unset;
  letter-spacing: 0.04em;
  text-transform: none;
  color: #d41443;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    line-height: 0.9;
    font-weight: 400;
    font-size: 34px;
    text-align: unset;
    letter-spacing: 0.04em;
    text-transform: none;
  }
  @media screen and (min-width: 1200px) {
    line-height: 0.9;
    font-weight: 400;
    font-size: 58px;
    text-align: unset;
    letter-spacing: 0.04em;
    text-transform: none;
  }
}
.hero__title-buttons {
  display: flex;
  @media screen and (min-width: 1200px) {
    margin-top: 25px;
  }
}
.hero__title-button1 {
  position: relative;
  border: none;
  top: 0;
  width: 62px;
  height: 24px;
  border-radius: 20px;
  line-height: 1.25;
  font-weight: 400;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: none;
  margin-right: 10px;
  background-color: #d41443;
  color: #ffffff;

  @media screen and (min-width: 1200px) {
    width: 104px;
    height: 40px;
    line-height: 1.29;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.04em;
    margin-right: 17px;
  }
  &:hover,
  &:focus {
    top: 2px;
    background-color: #c7133e;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &:active {
    box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 2px rgba(0, 0, 0, 0.08),
      inset 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.hero__title-button2 {
  position: relative;
  border: none;
  top: 0;
  width: 83px;
  height: 24px;
  border-radius: 20px;
  line-height: 1.25;
  font-weight: 400;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: none;
  background-color: #ffffff;
  color: #d41443;

  @media screen and (min-width: 1200px) {
    width: 138px;
    height: 40px;
    line-height: 1.29;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.04em;
  }

  &:hover,
  &:focus {
    top: 2px;
    background-color: #ecebeb;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &:active {
    box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 2px rgba(0, 0, 0, 0.08),
      inset 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.hero__avd-card {
  display: flex;
  align-items: center;
  margin-top: 19px;
  padding-left: 0;
}
.hero-composition {
  width: 114px;
  height: 48px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    width: 200px;
    height: 78px;
  }

  &__text {
    font-family: var(--primary-font-family);
    color: #ffffff;
    line-height: 1.5;
    font-weight: 400;
    font-size: 8px;
    text-align: unset;
    letter-spacing: 0.04em;
    text-transform: none;
    margin-bottom: 7px;

    @media screen and (min-width: 768px) {
      margin-top: 66px;
    }
    @media screen and (min-width: 1200px) {
      width: 200px;
      height: 78px;
      line-height: 1.43;
      font-weight: 400;
      font-size: 14px;
      text-align: unset;
      letter-spacing: 0.04em;
    }
  }
}
.next-slide {
  width: 18px;
  height: 18px;
}
.hero__circle {
  width: 346px;
  height: 344px;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  right: -50px;
  background-color: #ffa5ba;

  @media screen and (min-width: 768px) {
    width: 324px;
    height: 322px;
    top: 15px;
    right: 137px;
  }

  @media screen and (min-width: 1200px) {
    width: 538px;
    height: 538px;
    top: 50px;
    left: 470px;
  }
}

.company-about-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 76px;
  right: 34px;
  margin-bottom: 18px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  &__num {
    font-family: var(--secondary-font-family);
    color: #d41443;
    z-index: 1;
    line-height: 1.14;
    font-weight: 400;
    font-size: 28px;
    text-align: unset;
    letter-spacing: 0.04em;
    text-transform: none;
  }

  &__text {
    font-family: var(--primary-font-family);
    color: #ffffff;
    line-height: 1.3;
    font-weight: 400;
    font-size: 8px;
    text-align: unset;
    letter-spacing: 0.04em;
    text-transform: none;
  }
}
.company-about-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 128px;
  right: 34px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  &__num {
    font-family: var(--secondary-font-family);
    color: #d41443;
    z-index: 1;
    line-height: 1.14;
    font-weight: 400;
    font-size: 28px;
    text-align: unset;
    letter-spacing: 0.04em;
    text-transform: none;
  }

  &__text {
    font-family: var(--primary-font-family);
    color: #ffffff;
    line-height: 1.3;
    font-weight: 400;
    font-size: 8px;
    text-align: unset;
    letter-spacing: 0.04em;
    text-transform: none;
  }
}
.company-about-1__circle {
  position: absolute;
  top: -3px;
  right: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;

  @media screen and (min-width: 1200px) {
    top: -5px;
    right: -15px;
    width: 30px;
    height: 30px;
  }
}

.company-about-2__circle {
  position: absolute;
  top: -3px;
  right: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;

  @media screen and (min-width: 1200px) {
    top: -5px;
    right: -15px;
    width: 30px;
    height: 30px;
  }
}
.milk-pic {
  margin-top: 19px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.company-about-1__circle {
  color: #fff;
}
.ice-cream-pic {
  position: absolute;
  bottom: 0px;
  right: 32px;

  @media screen and (min-width: 768px) {
    // right: 247px;
  }

  @media screen and (min-width: 1200px) {
    // left: 600px;
  }
  .animate__slideInUp {
    animation-name: slideInUp;
    animation-duration: 1s;
  }
  .animate__animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  @keyframes slideInUp {
    0% {
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }

    100% {
      transform: translateZ(0);
    }
  }

  .girl-pic {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  //     @media screen and (max-width: 767px) {
  //       display: none;
  //     }
  //   }
  //   .animate__slideInRight {
  //     animation-name: slideInRight;
  //     animation-duration: 1s;
  //   }
  //   .animate__animated {
  //     animation-duration: 1s;
  //     animation-fill-mode: both;
  //   }

  //   @keyframes slideInRight {
  //     0% {
  //       transform: translate3d(100%, 0, 0);
  //       visibility: visible;
  //     }

  //     100% {
  //       transform: translateZ(0);
  //     }
  //   }
  // }
}
