.hero {
  overflow: hidden;
  background-color: #ffb8ca;
}
.hero-container {
  // padding: 6px 20px 0px 20px;
  position: relative;
  height: 502px;

  @media screen and (min-width: 768px) {
    height: 399px;
  }

  @media screen and (min-width: 1200px) {
    height: 665px;
    // padding: 37px 20px 0px 20px;
  }
}
.hero__title-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 137px;
  z-index: 1;

  @media screen and (min-width: 768px) {
    padding-top: 75px;
  }

  @media screen and (min-width: 1200px) {
    left: 69px;
    margin-top: 84px;
  }
}

.hero-container__title {
  width: 218px;
  font-family: 'Titan One';
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    width: 162px;
  }
  //   @media screen and (min-width: 1200px) {
  //     width: 277px;
  //   }
}
.hero-container__portail1 {
  font-family: var(--secondary-font-family);
  line-height: 1.15;
  font-weight: 400;
  font-size: 26px;
  text-align: unset;
  letter-spacing: 0.04em;
  text-transform: none;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    line-height: 1.14;
    font-weight: 400;
    font-size: 22px;
    text-align: unset;
    letter-spacing: 0.04em;
    text-transform: none;
  }
}
.hero-container__pjrtail2 {
  font-family: var(--secondary-font-family);
  line-height: 1;
  font-weight: 400;
  font-size: 48px;
  text-align: unset;
  letter-spacing: 0.04em;
  text-transform: none;
  color: #d41443;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    line-height: 0.9;
    font-weight: 400;
    font-size: 34px;
    text-align: unset;
    letter-spacing: 0.04em;
    text-transform: none;
  }
}
.hero__title-buttons {
  display: flex;
}
.hero__title-button1 {
  position: relative;
  border: none;
  top: 0;
  width: 62px;
  height: 24px;
  border-radius: 20px;
  line-height: 1.25;
  font-weight: 400;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: none;
  margin-right: 10px;
  background-color: #c7133e;
  color: #ffffff;

  @media screen and (max-width: 767px) {
    font-size: 8px;
    line-height: 10px;
    width: 62px;
    height: 24px;
    margin-right: 10px;
  }
}
.hero__title-button2 {
  position: relative;
  border: none;
  top: 0;
  width: 83px;
  height: 24px;
  border-radius: 20px;
  line-height: 1.25;
  font-weight: 400;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: none;
  background-color: #ffffff;
  color: #d41443;

  @media screen and (max-width: 767px) {
    font-size: 8px;
    line-height: 10px;
    width: 83px;
    height: 24px;
  }
}
.hero__avd-card {
  display: flex;
}
.hero-composition {
  width: 114px;
  height: 48px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    width: 200px;
    height: 78px;
  }

  &__text {
    font-family: var(--primary-font-family);
    color: #ffffff;
    line-height: 1.5;
    font-weight: 400;
    font-size: 8px;
    text-align: unset;
    letter-spacing: 0.04em;
    text-transform: none;
    margin-bottom: 7px;

    @media screen and (min-width: 768px) {
      margin-top: 66px;
    }
  }
}
.next-slide {
  width: 18px;
  height: 18px;
}
.hero__circle {
  width: 346px;
  height: 344px;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  right: -50px;
  background-color: #ffa5ba;

  @media screen and (min-width: 768px) {
    width: 324px;
    height: 322px;
    top: 30px;
    right: 137px;
  }

  //   @media screen and (min-width: 1200) {
  //     width: 538px;
  //     height: 538px;
  //     top: 50px;
  //     left: 470px;
  //   }
}

.company-about-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 100px;
  right: 40px;
  margin-bottom: 18px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  &__num {
    font-family: var(--secondary-font-family);
    color: #d41443;
    z-index: 1;
    line-height: 1.14;
    font-weight: 400;
    font-size: 28px;
    text-align: unset;
    letter-spacing: 0.04em;
    text-transform: none;
  }

  &__text {
    font-family: var(--primary-font-family);
    color: #ffffff;
    line-height: 1.3;
    font-weight: 400;
    font-size: 8px;
    text-align: unset;
    letter-spacing: 0.04em;
    text-transform: none;
  }
}
.company-about-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 155px;
  right: 40px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  &__num {
    font-family: var(--secondary-font-family);
    color: #d41443;
    z-index: 1;
    line-height: 1.14;
    font-weight: 400;
    font-size: 28px;
    text-align: unset;
    letter-spacing: 0.04em;
    text-transform: none;
  }

  &__text {
    font-family: var(--primary-font-family);
    color: #ffffff;
    line-height: 1.3;
    font-weight: 400;
    font-size: 8px;
    text-align: unset;
    letter-spacing: 0.04em;
    text-transform: none;
  }
}
.company-about-1__circle {
  position: absolute;
  top: -3px;
  right: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;

  // @media screen and (min-width: 1200px) {
  //   top: -5px;
  //   right: -15px;
  //   width: 30px;
  //   height: 30px;
  // }
}

.company-about-2__circle {
  position: absolute;
  top: -3px;
  right: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;

  // @media screen and (min-width: 1200px) {
  //   top: -5px;
  //   right: -15px;
  //   width: 30px;
  //   height: 30px;
  // }
}
.milk-pic {
  margin-top: 19px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.company-about-1__circle {
  color: #fff;
}
.ice-cream-pic {
  position: absolute;
  bottom: 0px;
  right: 32px;

  @media screen and (min-width: 768px) {
    right: 240px;
  }

  // @media screen and (min-width: $desktop) {
  // 	left: 600px;
}
.animate__slideInUp {
  animation-name: slideInUp;
  animation-duration: 1s;
}
.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes slideInUp {
  0% {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    transform: translateZ(0);
  }
}

.girl-pic {
  position: absolute;
  right: 40px;
  bottom: 0;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
