.hero {
  background-color: #ffb8ca;
}
.hero-container {
  position: relative;
  width: 1050px;
  height: 665px;
  padding: 0;

  &__title {
    display: flex;
    margin-bottom: 25px;
    flex-direction: column;
  }
}

.hero-container__portail1 {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.hero-container__pjrtail2 {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 53px;
  letter-spacing: 0.04em;
  color: #d41443;
}
.hero__title-buttons {
  display: flex;
}
.hero__title-button1 {
  width: 104px;
  height: 40px;
  background: #c7133e;
  border-radius: 20px;
  border: none;
  margin-right: 17px;
  margin-bottom: 56px;
}
.hero__title-button2 {
  width: 138px;
  height: 40px;
  color: #c7133e;
  background: #ffffff;
  border-radius: 20px;
  border: none;
}
.hero__avd-card {
  display: flex;
  text-align: center;
}
.hero-composition {
  justify-content: center;
  width: 200px;
  height: 78px;
  margin-bottom: 20px;

  &__text {
    font-family: var(--primary-font-family);
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
  }
}
.hero__circle {
  width: 538px;
  height: 538px;
  border-radius: 50%;
  background-color: #ffa5ba;
  position: absolute;
  top: 80px;
  right: 275px;
}
.company-about-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 100px;
  right: 40px;
  margin-bottom: 18px;

  &__num {
    font-family: var(--secondary-font-family);
    color: #d41443;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 53px;
    text-align: right;
    position: relative;
  }

  &__text {
    font-family: var(--primary-font-family);
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
  }
}
.company-about-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 155px;
  right: 40px;

  &__num {
    font-family: var(--secondary-font-family);
    color: #d41443;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 53px;
    text-align: right;
    position: relative;
  }

  &__text {
    font-family: var(--primary-font-family);
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
  }
}
.company-about-1__circle {
  color: #fff;
}
.ice-cream-pic {
  position: absolute;
  bottom: 0px;
  right: 450px;
}

