.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(228, 36, 116, 0.6);
  background-image: linear-gradient(to right, rgba(58, 47, 54, 0.5), rgba(47, 48, 58, 0.2)),
    url(../images/modal3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
  padding: 20px 15px 94px 15px;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  & .modal {
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal {
  position: relative;
  top: 50%;
  left: 43%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

  border-radius: 4px;

  @media screen and (min-width: 320px) {
    min-width: 290px;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
  }
}

.modal-title {
  margin-top: 0px;
  margin-bottom: 30px;
  width: calc(100% - 80px);

  font-family: 'Titan One';
  font-weight: 700;
  font-size: 25px;
  line-height: 1.15;
  letter-spacing: 0.1em;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  color: var(--background-and-text-color);
}

.modal__close-btn {
  position: absolute;
  top: 0;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  cursor: pointer;
  fill: var(--accent-and-text-color);
  background: var(--background-and-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-and-text-color);
  }
}

.modal-form {
  position: relative;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.modal-form-check {
  position: relative;
  display: block;
  margin-top: auto;
  color: #ffffff;
}

.modal-form-field {
  position: relative;
  display: block;
  margin-bottom: 28px;
  color: var(--background-and-text-color);
}

.modal-form-field.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--background-and-text-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label-license {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  width: 220px;
  color: #ffffff;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 350px) {
    width: 250px;
  }

  @media screen and (min-width: 480px) {
    font-size: 16px;
    width: 90%;
  }
}

.conditions {
  color: var(--background-and-text-color);
}

.modal-input {
  background: transparent;
  border: transparent;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--background-and-text-color);

  border-radius: 22px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input.area {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field:hover .modal-icon,
.modal-form-field:focus-within > .modal-icon {
  color: var(--background-and-text-color);
}

.modal-form-field:hover .modal-input,
.modal-form-field:focus-within > .modal-input {
  border: 3px solid var(--background-and-text-color);
  outline: 1px solid var(--background-and-text-color);
}

.modal-form-field:focus-within > .modal-label {
  transform: translate(-42px, -42px);
}

.modal-input:not(:placeholder-shown) + .modal-label {
  transform: translate(-42px, -42px);
}

.checkbox-default {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon:hover,
.checkbox-default:focus-within + .checkbox-icon {
  border-color: var(--background-and-text-color);
}

.checkbox-default:checked + .checkbox-icon {
  fill: var(--background-and-text-color);
  border-color: transparent;
  background-size: contain;
  transform: scale(1.37);
}

.checkbox-icon {
  fill: var(--second-background-and-text-color);
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;

  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;

  color: #d41443;
  background: #ffffff;
  border: none;
  border-radius: 22px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #d41443;
    color: #ffffff;
  }
}

.modal-form-ice {
  display: flex;
  flex-basis: auto;
  align-items: center;
  justify-content: center;

  margin-bottom: 40px;
}

.modal-form-pic {
  transition: transform 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &:hover {
    transform: scale(1.2);
  }
}
