.section.products {
  padding-top: 121px;
}
.section__subtitle {
  font-family: var(--secondary-font-family);
  text-align: center;
  font-size: 18px;
  color: #ffa5ba;
  line-height: 1.4;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) and (min-width: 1199) {
  .section__subtitle {
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .section__subtitle {
    font-size: 30px;
  }
}

.section__title {
  font-family: var(--secondary-font-family);
  text-align: center;
  font-size: 34px;
  color: #d41443;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section__title {
    font-size: 48px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .section__title {
    font-size: 58px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 112px;
  }
}

@media screen and (min-width: 1200px) {
  .products__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 112px;
  }
}

.products__item {
  margin-bottom: 50px;
  position: relative;
  margin-left: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .products__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 0px;
    height: 693px;
  }
}

//

.products__item-front {
  padding-top: 120px;
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .products__item-front {
    padding-top: 210px;
  }
}

.products__item-title {
  font-family: var(--secondary-font-family);
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  position: relative;
}

.products__item-title-dick {
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 2;
}

.products__item-title-dick:before {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: -5px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 2;
}

.products__item-title-dick:after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 12px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 2;
}

.products__item-description {
  margin-bottom: 60px;
  font-family: 'Relaway' sans-serif;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

.products__item-action {
  text-align: center;
}

.products__item-link {
  display: inline-block;
  padding: 34px;
  text-align: center;

  // &:hover,
  // &:focus {
  //   background-color: #c2e297;
  // }
}

.products__item-inner_pink {
  background-color: #ffb8ca;
  position: relative;
}

.products__item-inner_pink::before,
.products__item-inner_coffee::before,
.products__item-inner_green::before {
  content: '';
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: url('../images/product1-pc@2x.png');
  width: 100%;
  height: 252px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  z-index: 2;
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .products__item-inner_pink::before {
    height: 335px;
  }
}

.products__item-inner_coffee::before {
  background-image: url('../images/product2-pc@2x.png');
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .products__item-inner_coffee::before {
    height: 335px;
  }
}

.products__item-inner_green::before {
  background-image: url('../images/product3-pc@2x.png');
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .products__item-inner_green::before {
    height: 335px;
  }
}

.products__item-inner_coffee {
  background-color: #f0d1a5;
}

.products__item-inner_green {
  background-color: #c2e297;
}

.products__item-inner {
  padding: 120px 20px 30px 20px;
  border-radius: 10px;
  position: relative;
}

@media screen and (min-widt: 768px) and (max-width: 1199px) {
  .products__item-inner {
    padding: 100px 20px 40px 20px;
  }
}

@media screen and (min-widt: 1200px) and (max-width: 1920px) {
  .products__item-inner {
    padding: 150px 40px 50px 40px;
  }
}
//

.products__item-back {
  display: none;
}
